<ng-container *ngIf="Produtos.length == 0">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="Produtos.length > 0">
  <app-voltar></app-voltar>
  <br>
  <br>
  <br>
  <h1 class="titulo centralizar">Finalizar Compra</h1>
  <br>
  <br>
  <!-- PRODUTOS -->
  <h1 class="titulo" *ngIf="Produtos.length > 1">Produtos</h1>
  <h1 class="titulo" *ngIf="Produtos.length == 1">Produto</h1>
  <br>
  <div class="row">
    <ng-container *ngFor="let produto of Produtos">
      <div class="col-sm-6">
        <app-produtos-venda [produto]=produto (atualizacao)="ReceberAtt($event)"></app-produtos-venda>
      </div>
    </ng-container>
  </div>
  <mat-divider></mat-divider>
  <br>
  <!-- ENDEREÇOS -->
  <ng-container *ngIf="!Enderecos">
    <h1 class="titulo">Endereços</h1>
    <br>
    <br>
    <app-progressbar></app-progressbar>
    <br>
    <br>
  </ng-container>
  <ng-container *ngIf="Enderecos">
    <app-selecao-enderecos [Enderecos]="Enderecos" [TipoProduto]="TipoId" (EnderecoEnviado)="ReceberEndereco($event)"></app-selecao-enderecos>
  </ng-container>
  <br>
  <mat-divider></mat-divider>
  <br>
  <!-- FRETE -->
  <ng-container *ngIf="TipoId == IdEncomenda">
    <h1 class="titulo">Retirar</h1>
  </ng-container>
  <ng-container *ngIf="TipoId == IdEstoque">
    <h1 class="titulo">Frete</h1>
  </ng-container>
  <ng-container *ngIf="EnderecoSelecionado">
    <ng-container *ngIf="!ValorFrete && TipoId == IdEstoque">
      <br>
      <br>
      <app-progressbar></app-progressbar>
      <br>
      <br>
    </ng-container>
    <ng-container *ngIf="!ValorFrete && TipoId == IdEncomenda">
      <div class="alert alert-warning" role="alert">
        Depois do pagamento aprovado o vendedor entrará em contato por Whatsapp para combinar prazos e tirar dúvidas
      </div>
      <br>
      <p class="titulo">Esse produto deve ser retirado no endereço do vendedor:</p>
      <p class="titulo">Av. Martino Basso, 495 - Jardim Zaira, Mauá - SP, 09320-760</p>
      <br>
      <div class="form-group col-md-12 centralizar">
        <a href="{{urlMaps}}" class="maps">Veja aqui o endereço no Google Maps</a>
      </div>
      <br>
    </ng-container>
    <ng-container *ngIf="ValorFrete && TipoId == IdEstoque">
      <h3 class="titulo">O Frete fica no valor de <span class="negrito">{{ValorFrete.price | currency:'BRL'}}</span> para {{this.EnderecoSelecionado.cep| mask:'00000-000'}}.
        <div class="titulo">Entregue por <span style="color:var(--vermelho)">{{ValorFrete.company.name}}©</span></div>
      </h3>
      <br>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!EnderecoSelecionado">
    <br>
    <h3 class="titulo centralizar">Seleciona um endereço de entrega!!!</h3>
    <br>
    <br>
  </ng-container>
  <mat-divider></mat-divider>
  <br>
  <!-- TOTAL -->
  <h1 class="titulo">Total</h1>
  <ng-container *ngIf="!EnderecoSelecionado">
    <br>
    <h3 class="titulo centralizar">Seleciona um endereço de entrega!!!</h3>
    <br>
    <br>
  </ng-container>
  <ng-container *ngIf="Produtos && EnderecoSelecionado && ValorFrete && TipoId == IdEstoque">
    <br>
    <app-tabela-produtos [Produtos]="Produtos" [ValorFrete]="ValorFrete.price"></app-tabela-produtos>
  </ng-container>
  <ng-container *ngIf="Produtos && EnderecoSelecionado && TipoId == IdEncomenda">
    <br>
    <app-tabela-produtos [Produtos]="Produtos"></app-tabela-produtos>
  </ng-container>
</ng-container>
