<h1 class="title" color="primary">Redefinir senha</h1>

<h3 class="tile mt-5" color="primary">Informe sua nova senha:</h3>

<form [formGroup]="passwordsForm" (ngSubmit)="reset()" autocomplete="off">

  <app-alert-warning text="Senha deve conter no mínimo 8 caracteres">
  </app-alert-warning>

  <div formGroupName="passwords">

    <mat-form-field appearance="fill" class="w-100 mt-3">
      <mat-label> Senha <span class="red-material">*</span></mat-label>
      <input type="password" matInput formControlName="password">
      <mat-icon class="material-icons-outlined" matSuffix>lock_open</mat-icon>
      <mat-error *ngIf="passwordsForm.get('passwords.password')?.errors?.required">Senha é obrigatória</mat-error>
      <mat-error *ngIf="passwordsForm.get('passwords.password')?.errors?.minlength">Senha deve conter no minimo 8 caracteres</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" class="w-100 mt-3">
      <mat-label> Confirmar senha <span class="red-material">*</span></mat-label>
      <input type="password" matInput formControlName="confirmedPassword">
      <mat-icon class="material-icons-outlined" matSuffix>https</mat-icon>
      <mat-error *ngIf="passwordsForm.get('passwords.confirmedPassword')?.errors?.required">Confirmar senha é obrigatório</mat-error>
      <mat-error *ngIf="passwordsForm.get('passwords.confirmedPassword')?.errors?.minlength">Senha deve conter no minimo 8 caracteres</mat-error>
      <mat-error *ngIf="passwordsForm.get('passwords.confirmedPassword')?.errors?.mismatch"> Senhas não conferem </mat-error>
    </mat-form-field>

  </div>

  <app-btn-responsive
   color="primary"
   [txt]="txt"
   [disable]="disableBtn"
   (click)="reset()">
  </app-btn-responsive>
</form>

