<br>
<h2 class="titulo centralizar">Compra realizada com sucesso!</h2>
<div class="img-centralizar">
  <img src="assets/images/check_sucesso.png" alt="sucesso" class="">
</div>
<br>
<h2 class="titulo centralizar">Agradecemos a preferência <span class="nome">{{User.fullName}}!</span></h2>
<br>
<h2 class="titulo centralizar">Estamos aguardando a confirmação do pagamento, assim que validado pelo PagSeguro, começaremos a separar os seus pedidos :)</h2>
<br>
<div class="form-group col-md-12 centralizar">
  <button mat-flat-button class="btn-responsive" color="primary" (click)="router.navigate(['/produtos'])">Tela Inicial</button>
</div>


