<ng-container *ngIf="TipoBotao == 'solido'">
  <div class="centralizar">
    <button mat-flat-button color="primary" class="w-100" [disabled]="Desabilitar" (click)="ColocarCarrinho()">
      <mat-icon class="material-icons-outlined">add_shopping_cart</mat-icon>
      Carrinho
    </button>
  </div>
</ng-container>
<ng-container *ngIf="TipoBotao == 'transparente'">
  <div class="centralizar">
    <button mat-button color="primary" class="w-100" [disabled]="Desabilitar" (click)="ColocarCarrinho()">
      <mat-icon class="material-icons-outlined">add_shopping_cart</mat-icon>
      Carrinho
    </button>
  </div>
</ng-container>
