<div class="row">
  <div class="col-sm-6">
    <h2 class="title mt-3">Dados do cliente</h2>
    <mat-list>
      <mat-list-item class="height-matline">
        <mat-icon class="material-icons-outlined orange-material" mat-list-icon>person</mat-icon>
        <div mat-line class="line-break-matline font-bold">{{sale.user?.fullName}}</div>
        <div mat-line class="line-break-matline">Celular: {{sale.user?.phoneNumber! | mask:'(00)00000-0000'}}</div>
        <div mat-line class="line-break-matline">E-mail: {{sale.user?.email}}</div>
        <div mat-line class="line-break-matline">CPF: {{sale.user?.cpf! | mask:'000.000.000/00'}}</div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col-sm-6">
    <h2 class="title mt-3">Dados da venda</h2>
    <mat-list>
      <mat-list-item class="height-matline">
        <mat-icon class="material-icons-outlined brown-material" mat-list-icon>content_paste</mat-icon>
        <div mat-line class="line-break-matline font-bold">{{sale.statusPagSeguro? sale.statusPagSeguro: 'Sem status do PagSeguro'}}</div>
        <div mat-line class="line-break-matline">Data: {{sale.date | date: 'dd/MM/yyyy'}}</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
