<ng-container *ngIf="!TipoProdutos">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="TipoProdutos">
  <app-voltar></app-voltar>
  <br>
  <br>
  <br>
  <app-titulo-mais-add [Titulo]="'Tipo Produtos'" [Rotas]="'/admin/tipoproduto/adicionar'"></app-titulo-mais-add>
  <br>
  <br>
  <br>
  <br>
  <ng-container *ngIf="TipoProdutos.length > 0">
    <app-lista-tipoproduto [TipoProdutos]=TipoProdutos></app-lista-tipoproduto>
  </ng-container>
  <ng-container *ngIf="TipoProdutos.length == 0">
    <mat-list-item>
    <mat-list>
      <div mat-subheader>Vazio</div>
      <mat-list-item>
        <div mat-line class="negrito">Não há tipo de categorias cadastradas</div>
      </mat-list-item>
    </mat-list>
    </mat-list-item>
  </ng-container>
</ng-container>
<br>
<br>
