<h1 class="title text-center">Quem Somos ?</h1>

<div class="row mt-5">
  <div class="col-md-3 col-img">
    <div class="img-center">
      <img src="assets/images/Ro_About.jpg">
    </div>
  </div>
  <div class="col-md-9 col-text">
    <h3 class="text-about">
      Sejam todos bem-vindos ao meu site, meu nome é Rosana Martinez, porém todos me chamam de Rô,
      sempre gostei de plantas e nos últimos anos comecei colecionar
      suculentas e descobri minha verdadeira paixão, a partir disso decidi arriscar e foquei em produzir minhas mudinhas para vendê-las,
      estou muito feliz nessa nova jornada, espero encantá-los com meus pacotinhos de amor ❤️.
    </h3>
  </div>
</div>

