<ng-container *ngIf="Carregou">
  <h1 class="titulo">Bem vindo(a), <span class="cor-titulo-primary">{{User.fullName}}.</span></h1>
  <h1 class="titulo">O que deseja fazer hoje?</h1>
  <br>
  <br>
  <mat-list>

    <!-- CATALOGO -->
    <div mat-subheader>Catálogo</div>
    <mat-list-item  class="lista cursor" (click)="router.navigate(['empresa/categoria'])">
      <mat-icon class="material-icons-outlined" mat-list-icon>import_contacts</mat-icon>
      <div mat-line>Categorias</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="lista cursor" (click)="router.navigate(['empresa/produto'])">
      <mat-icon class="material-icons-outlined" mat-list-icon>local_offer</mat-icon>
      <div mat-line>Produtos</div>
    </mat-list-item>

    <!-- VENDAS -->
    <mat-list>
      <div mat-subheader>Compras</div>
      <mat-list-item class="lista cursor" (click)="router.navigate(['empresa/vendas/1'])">
        <mat-icon matBadge="{{CountAguardandoPagamento}}" class="material-icons-outlined" mat-list-icon>credit_card</mat-icon>
        <div mat-line>Aguardando Pagamento</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="lista cursor" (click)="router.navigate(['empresa/vendas'])">
        <mat-icon matBadge="{{CountAguardandoEnvio}}" class="material-icons-outlined" mat-list-icon>departure_board</mat-icon>
        <div mat-line>Aguardando Envio</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="lista cursor" (click)="router.navigate(['empresa/vendas/3'])">
        <mat-icon matBadge="{{CountEnviado}}" class="material-icons-outlined" mat-list-icon>local_shipping</mat-icon>
        <div mat-line>Enviadas</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="lista cursor" (click)="router.navigate(['empresa/vendas/4'])">
        <mat-icon matBadge="{{CountFinalizado}}" class="material-icons-outlined" mat-list-icon>check</mat-icon>
        <div mat-line>Finalizadas</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="lista cursor" (click)="router.navigate(['empresa/vendas/5'])">
        <mat-icon matBadge="{{CountCancelado}}" class="material-icons-outlined" mat-list-icon>cancel</mat-icon>
        <div mat-line>Canceladas</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="lista cursor" (click)="router.navigate(['empresa/vendas/6'])">
        <mat-icon matBadge="{{CountEmDisputa}}" class="material-icons-outlined" mat-list-icon>shield</mat-icon>
        <div mat-line>Em Disputa</div>
      </mat-list-item>
    </mat-list>

    <!-- OPERAÇÔES -->
    <div mat-subheader>Operações</div>
    <mat-list-item class="lista cursor" (click)="router.navigate(['empresa/fretemanual'])">
      <mat-icon class="material-icons-outlined" mat-list-icon>travel_explore</mat-icon>
      <div mat-line>Frete Manual</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="lista cursor">
      <mat-icon class="material-icons-outlined" mat-list-icon>savings</mat-icon>
      <div mat-line>Finanças</div>
    </mat-list-item>
  </mat-list>
</ng-container>
