<h1 class="titulo">Bem vindo(a), <span class="cor-titulo-primary">{{User.fullName}}.</span></h1>
<h1 class="titulo">O que deseja fazer hoje?</h1>
<br>
<br>
<mat-list>
  <!-- CATALOGO -->
  <div mat-subheader>Catálogo</div>
  <mat-list-item  class="lista cursor" (click)="router.navigate(['empresa/categoria'])">
    <mat-icon class="material-icons-outlined" mat-list-icon>import_contacts</mat-icon>
    <div mat-line>Categorias</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item class="lista cursor" (click)="router.navigate(['empresa/produto'])">
    <mat-icon class="material-icons-outlined" mat-list-icon>local_offer</mat-icon>
    <div mat-line>Produtos</div>
  </mat-list-item>
  <!-- VENDAS -->
    <div mat-subheader>Vendas</div>
    <mat-list-item>
      <mat-icon class="material-icons-outlined" mat-list-icon>credit_card</mat-icon>
      <div mat-line>Aguardando Pagamento</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon class="material-icons-outlined" mat-list-icon>store</mat-icon>
      <div mat-line>Aguardando Envio</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon class="material-icons-outlined" mat-list-icon>local_shipping</mat-icon>
      <div mat-line>Enviados</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon class="material-icons-outlined" mat-list-icon>check</mat-icon>
      <div mat-line>Finalizados</div>
    </mat-list-item>
  <!-- OPERAÇÔES -->
  <div mat-subheader>Operações</div>
  <mat-list-item (click)="router.navigate(['empresa/fretemanual'])">
    <mat-icon class="material-icons-outlined" mat-list-icon>travel_explore</mat-icon>
    <div mat-line>Frete Manual</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon class="material-icons-outlined" mat-list-icon>savings</mat-icon>
    <div mat-line>Finanças</div>
  </mat-list-item>
</mat-list>
