.produtos {
  color: var(--verde);
}

.gastos {
  color: var(--laranja);
}

.acessos {
  color: var(--azul-claro);
}

.vendas {
  color: var(--verde-claro);
}

.relatorios {
  color: var(--amarelo);
}

.mat-card :hover {
  cursor: pointer;
}


