:root {
  --green-material: #77bfa3;
  --red-material: #ff686b;
  --blue-material: #80a1d4;
  --dark-blue-material: #338896;
  --yellow-material: #fcbf49;
  --burnt-yellow-material: #eead2d;
  --orange-material-material: #ffa62b;
  --gray-background-material: #f8f9fa;
  --gray-line-toolbar-material: #dee2e6;
  --gray-hover-material: #e9ecef;
  --black-material: #161616;
}

.green-material {
  color: var(--green-material);
}

.red-material {
  color: var(--red-material);
}

.blue-material {
  color: var(--blue-material);
}

.dark-blue-material {
  color: var(--dark-blue-material);
}

.yellow-material {
  color: var(--yellow-material);
}

.burnt-yellow-material {
  color: var(--burnt-yellow-material);
}

.orange-material {
  color: var(--orange-material);
}

.gray-background-material {
  color: var(--gray-background-material);
}

.gray-line-toolbar-material {
  color: var(--gray-line-toolbar-material);
}

.gray-hover-material {
  color: var(--gray-hover-material);
}

.black-material {
  color: var(--black-material);
}
