$dc-green: (
    50: #e5f4ef,
    100: #bfe3d6,
    200: #99d2bd,
    300: #77bfa3,
    400: #63b092,
    500: #56a281,
    600: #509476,
    700: #488467,
    800: #40735a,
    900: #325741,
    A100: #e5f4ef,
    A200: #bfe3d6,
    A400: #99d2bd,
    A700: #77bfa3,
    contrast: (
        50: $white-87-opacity,
        100: $white-87-opacity,
        200: $white-87-opacity,
        300: $white-87-opacity,
        400: $white-87-opacity,
        500: black,
        600: black,
        700: black,
        800: black,
        900: black,
        A100: $white-87-opacity,
        A200: $white-87-opacity,
        A400: $white-87-opacity,
        A700: $white-87-opacity,
    )
);

$dc-red: (
    50: #ffeaee,
    100: #ffeaee,
    200: #ff9595,
    300: #ff686b,
    400: #ff3b42,
    500: #ff2222,
    600: #ed001f,
    700: #ed001f,
    800: #e00017,
    900: #d00007,
    A100: #ffeaee,
    A200: #ffeaee,
    A400: #ff9595,
    A700: #ff686b,
    contrast: (
        50: $white-87-opacity,
        100: $white-87-opacity,
        200: $white-87-opacity,
        300: $white-87-opacity,
        400: $white-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $white-87-opacity,
        A200: $white-87-opacity,
        A400: $white-87-opacity,
        A700: $white-87-opacity,
    )
);

$dc-blue: (
    50: #e1e8f4,
    100: #b4c6e5,
    200:#80a2d4,
    300: #457ec3,
    400: #0063b8,
    500: #004bac,
    600: #0043a3,
    700: #003a98,
    800: #00318d,
    900: #002179,
    A100: #e1e8f4,
    A200: #b4c6e5,
    A400: #80a2d4,
    A700: #80a1d4,
    contrast: (
        50: $white-87-opacity,
        100: $white-87-opacity,
        200: $white-87-opacity,
        300: $white-87-opacity,
        400: $white-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $white-87-opacity,
        A200: $white-87-opacity,
        A400: $white-87-opacity,
        A700: $white-87-opacity,
    )
);

$candy-app-primary: mat-palette($dc-green, A700);
$candy-app-accent:  mat-palette($dc-blue,A700);
$candy-app-warn: mat-palette($dc-red, A700);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);




