@font-face {
  font-family: "Bakerie";
  display: block;
  src: local("Bakerie"), url(../../assets/fonts/bakerie-woff/BakerieRoughWide-Medium.woff) format("woff");
}

.title {
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}
