<app-voltar></app-voltar>
<br>
<br>
<br>
<br>
<h1 class="titulo">Criar Tipo de Produto</h1>
<br>
<br>
<form [formGroup]="TipoProdutoForm" (ngSubmit)="Registrar()" autocomplete="off">
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="nome">
    <mat-error *ngIf="TipoProdutoForm.get('nome').hasError('required')" class="invalid-feedback">Nome é obrigatório</mat-error>
  </mat-form-field>
  <br>
  <br>
  <ng-container *ngIf="RealizandoCadastro">
    <app-progressbar></app-progressbar>
  </ng-container>
  <br>
  <div class="form-group col-md-12 centralizar">
    <button mat-flat-button class="btn-responsive" color="primary" [disabled]=RealizandoCadastro>Cadastrar</button>
  </div>
</form>
