.radios-adresses-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.radios-adresses-button {
  margin: 5px;
  font-size: 15px;
}

.line-break-matline {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}
