<div class="row mt-4">
  <ng-container *ngFor="let product of products">
    <div class="col-sm-6 mb-3">
      <div class="row">

        <div class="col-4">
          <img class="cursor-pointer" src="{{urlImage}}{{product.image}}" alt="{{product.name}}" (click)="navigate(product)">
        </div>

        <div class="col-8">
          <mat-list>
            <mat-list-item class="height-matline padding-list">
              <div mat-line class="line-break-matline font-bold cursor-pointer mt-1"><span (click)="navigate(product)">{{product.name}}</span>
                <mat-icon *ngIf="editBtn" matTooltip="Editar" class="material-icons-outlined btn-edit btn-pc" (click)="openEdit(product)">edit</mat-icon>
              </div>
              <div mat-line class="line-break-matline">Quantidade: {{product.quantityOrder}}</div>
              <div mat-line *ngIf="product.unavailable" class="line-break-matline font-bold red-material">INDISPONÍVEL</div>
              <div mat-line class="line-break-matline mb-1">{{product.price | currency}}</div>
            </mat-list-item>
          </mat-list>
        </div>

      </div>
    </div>
  </ng-container>
</div>
