<h2 class="titulo">
  Seção 7 - <span class="verde">Coleta automática de Dados Pessoais</span>
</h2>
<p>
  Quando você visita a loja, ela pode armazenar ou recuperar informações em seu navegador, principalmente na forma de cookies, que são arquivos de texto contendo pequenas quantidades de informação. Essas informações podem ser sobre você, suas preferências ou seu dispositivo e são usadas principalmente para que a loja funcione como você espera. As informações geralmente não o identificam diretamente, mas podem oferecer uma experiência na internet mais personalizada.
</p>
<p>
  De acordo com esta Política de Privacidade, nós e nossos prestadores de serviços terceirizados, mediante seu consentimento, podemos coletar seus Dados Pessoais de diversas formas, incluindo, entre outros:
</p>
<ol type="1">
  <li>
    <span class="verde"> Por meio do navegador ou do dispositivo:</span> algumas informações são coletadas pela maior parte dos navegadores ou automaticamente por meio de dispositivos de acesso à internet, como o tipo de computador, resolução da tela, nome e versão do sistema operacional, modelo e fabricante do dispositivo, idioma, tipo e versão do navegador de Internet que está utilizando. Podemos utilizar essas informações para assegurar que a loja funcione adequadamente.
  </li>
  <li>
    <span class="verde"> Uso de cookies:</span> informações sobre o seu uso da loja podem ser coletadas por terceiros a partir de cookies. Cookies são informações armazenadas diretamente no computador que você está utilizando.
    Os cookies permitem a coleta de informações tais como o tipo de navegador, o tempo despendido na loja, as páginas visitadas, as preferências de idioma, e outros dados de tráfego anônimos. Nós e nossos prestadores de serviços utilizamos informações para proteção de segurança, para facilitar a navegação, exibir informações de modo mais eficiente, e personalizar sua experiência ao utilizar a loja, assim como para rastreamento online.
    Também coletamos informações estatísticas sobre o uso da loja para aprimoramento contínuo do nosso design e funcionalidade, para entender como a loja é utilizada e para auxiliá-lo a solucionar questões relativas à loja.
    <br>
    Caso não deseje que suas informações sejam coletadas por meio de cookies, há um procedimento simples na maior parte dos navegadores que permite que os cookies sejam automaticamente rejeitados, ou oferece a opção de aceitar ou rejeitar a transferência de um cookie (ou cookies) específico(s) de um site determinado para o seu computador.
    Entretanto, isso pode gerar inconvenientes no uso da loja.
    <br>
    As definições que escolher podem afetar a sua experiência de navegação e o funcionamento que exige a utilização de cookies. Neste sentido, rejeitamos qualquer responsabilidade pelas consequências resultantes do funcionamento limitado da loja provocado pela desativação de cookies no seu dispositivo (incapacidade de definir ou ler um cookie).
  </li>
  <li>
    <span class="verde"> Uso de pixel tags e outras tecnologias similares:</span> pixel tags (também conhecidos como Web beacons e GIFs invisíveis) podem ser utilizados para rastrear ações de usuários da loja (incluindo destinatários de e-mails), medir o sucesso das nossas campanhas de marketing e coletar dados estatísticos sobre o uso da loja e taxas de resposta, e ainda para outros fins não especificados.
    Podemos contratar empresas de publicidade comportamental, para obter relatórios sobre os anúncios da loja em toda a internet.
    Para isso, essas empresas utilizam cookies, pixel tags e outras tecnologias para coletar informações sobre a sua utilização, ou sobre a utilização de outros usuários, da nossa loja e de site de terceiros.
    Nós não somos responsáveis por pixel tags, cookies e outras tecnologias similares utilizadas por terceiros.
  </li>
</ol>



