<h2 class="titulo">
  Seção 2 - <span class="verde">Uso de Dados Pessoais</span>
</h2>
<p>
  Coletamos e usamos Dados Pessoais para gerenciar seu relacionamento conosco e melhor atendê-lo quando você estiver adquirindo produtos e/ou serviços na loja, personalizando e melhorando sua experiência. Exemplos de como usamos os dados incluem:
</p>
<ol type="1">
  <li>
    Viabilizar que você adquira produtos e/ou serviços na loja;
  </li>
  <li>
    Para confirmar ou corrigir as informações que temos sobre você;
  </li>
  <li>
    Para enviar informações que acreditamos ser do seu interesse;
  </li>
  <li>
    Para personalizar sua experiência de uso da loja;
  </li>
  <li>
    Para entrarmos em contato por um número de telefone e/ou endereço de e-mail fornecido. Podemos entrar em contato com você pessoalmente, por mensagem de voz, através de equipamentos de discagem automática, por mensagens de texto (SMS), por e-mail, ou por qualquer outro meio de comunicação que seu dispositivo seja capaz de receber, nos termos da lei e para fins comerciais razoáveis.
  </li>
</ol>
<p>
  Além disso, os Dados Pessoais fornecidos também podem ser utilizados na forma que julgarmos necessária ou adequada: (a) nos termos das Leis de Proteção de Dados; (b) para atender exigências de processo judicial; (c) para cumprir decisão judicial, decisão regulatória ou decisão de autoridades competentes, incluindo autoridades fora do país de residência; (d) para aplicar nossos Termos e Condições de Uso; (e) para proteger nossas operações; (f) para proteger direitos, privacidade, segurança nossos, seus ou de terceiros; (g) para detectar e prevenir fraude; (h) permitir-nos usar as ações disponíveis ou limitar danos que venhamos a sofrer; e (i) de outros modos permitidos por lei.
</p>
