<h2 class="titulo">
  Seção 4 - <span class="verde">Dados coletados</span>
</h2>
<p>
  O público em geral poderá navegar na loja sem necessidade de qualquer cadastro e envio de Dados Pessoais. No entanto, algumas das funcionalidades da loja poderão depender de cadastro e envio de Dados Pessoais como concluir a compra/contratação do serviço e/ou a viabilizar a entrega do produto/prestação do serviço por nós.
</p>
<p>
  No contato a loja, nós podemos coletar:
</p>
<ol type="1">
  <li>
    <span class="verde"> Dados de contato:</span> nome, sobrenome, número de telefone, endereço, cidade, estado e endereço de e-mail;
  </li>
  <li>
    <span class="verde"> Informações enviadas:</span> informações que você envia via formulário (dúvidas, reclamações, sugestões, críticas, elogios etc.).
  </li>
</ol>
<p>
  Na navegação geral na loja, nós poderemos coletar:
</p>
<ol type="1">
  <li>
    <span class="verde"> Dados de localização:</span> dados de geolocalização quando você acessa a loja;
  </li>
  <li>
    <span class="verde"> Preferências:</span> informações sobre suas preferências e interesses em relação aos produtos/serviços (quando você nos diz o que eles são ou quando os deduzimos do que sabemos sobre você);
  </li>
  <li>
    <span class="verde"> Dados de navegação na loja:</span> informações sobre suas visitas e atividades, incluindo o conteúdo (e quaisquer anúncios) com os quais você visualiza e interage, informações sobre o navegador e o dispositivo que você está usando, seu endereço IP, sua localização, o endereço do site a partir do qual você chegou. Algumas dessas informações são coletadas usando nossas Ferramentas de Coleta Automática de Dados, que incluem cookies, web beacons e links da web incorporados. Para saber mais, leia como nós usamos Ferramentas de Coleta Automática de Dados na seção 7 abaixo;
  </li>
  <li>
    <span class="verde"> Dados anônimos ou agregados:</span> respostas anônimas para pesquisas ou informações anônimas e agregadas sobre como a loja é usufruída. Durante nossas operações, em certos casos, aplicamos um processo de desidentificação ou pseudonimização aos seus dados para que seja razoavelmente improvável que você identifique você através do uso desses dados com a tecnologia disponível;
  </li>
  <li>
    <span class="verde"> Outras informações que podemos coletar:</span> informações que não revelem especificamente a sua identidade ou que não são diretamente relacionadas a um indivíduo, tais como informações sobre navegador e dispositivo; dados de uso da Loja; e informações coletadas por meio de cookies, pixel tags e outras tecnologias.
  </li>
</ol>
<p>
  Nós não coletamos Dados Pessoais Sensíveis.
</p>
