<app-voltar></app-voltar>
<br>
<br>
<br>
<h1 class="titulo">Editar Dados</h1>
<br>
<mat-vertical-stepper [linear]="true" #stepper>
  <!-- Dados -->
  <mat-step [stepControl]="DadosForm">
    <ng-template matStepLabel>Identificação</ng-template>
    <br>
    <form [formGroup]="DadosForm" autocomplete="off">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label> Nome completo <span class="asteristico-obrigatorio">*</span></mat-label>
        <input matInput formControlName="fullname">
        <mat-icon class="material-icons-outlined" matSuffix>person</mat-icon>
        <mat-error *ngIf="DadosForm.get('fullname').hasError('required')" class="invalid-feedback">Nome é obrigatório</mat-error>
        <mat-error *ngIf="DadosForm.get('fullname').hasError('minlength')" class="invalid-feedback">Nome deve ter no minimo 3 caracteres</mat-error>
        <mat-error *ngIf="DadosForm.get('fullname').hasError('maxlength')" class="invalid-feedback">Nome deve ter no maximo 70 caracteres</mat-error>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label> CPF <span class="asteristico-obrigatorio">*</span></mat-label>
        <input matInput formControlName="cpf" mask="000.000.000/00">
        <mat-icon class="material-icons-outlined" matSuffix>person</mat-icon>
        <mat-error *ngIf="DadosForm.get('cpf').hasError('required')" class="invalid-feedback">CPF é obrigatório</mat-error>
        <mat-error *ngIf="DadosForm.get('cpf').hasError('minlength')" class="invalid-feedback">CPF deve ter 11 numeros</mat-error>
        <mat-error *ngIf="DadosForm.get('cpf').hasError('maxlength')" class="invalid-feedback">CPF deve ter 11 numeros</mat-error>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label> Data de nascimento <span class="asteristico-obrigatorio">*</span></mat-label>
        <input matInput formControlName="dataNascimento" [dropSpecialCharacters]="false" mask="00/00/0000">
        <mat-icon class="material-icons-outlined" matSuffix>cake</mat-icon>
        <mat-error *ngIf="DadosForm.get('dataNascimento').hasError('required')" class="invalid-feedback">Data de Nascimento é obrigatória</mat-error>
        <mat-error *ngIf="DadosForm.get('dataNascimento').hasError('minlength')" class="invalid-feedback">Valor inserido não confere como data valida 1</mat-error>
        <mat-error *ngIf="DadosForm.get('dataNascimento').hasError('maxlength')" class="invalid-feedback">Valor inserido não confere como data valida 2</mat-error>
      </mat-form-field>
      <br>
      <br>
      <div class="form-group col-md-12 centralizar">
        <button mat-button matStepperNext class="btn-responsive" color="primary" [disabled]=!DadosForm.valid>Próximo</button>
      </div>
    </form>
  </mat-step>
  <!-- Contatos -->
  <mat-step [stepControl]="ContatosForm">
    <ng-template matStepLabel>Contatos</ng-template>
    <br>
    <form [formGroup]="ContatosForm" (ngSubmit)="Atualizar()" autocomplete="off">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label> Celular + DDD <span class="asteristico-obrigatorio">*</span></mat-label>
        <input matInput formControlName="phoneNumber" mask="(00)00000-0000">
        <mat-icon class="material-icons-outlined" matSuffix>phone_iphone</mat-icon>
        <mat-error *ngIf="ContatosForm.get('phoneNumber').hasError('required')" class="invalid-feedback">Número é obrigatório</mat-error>
        <mat-error *ngIf="ContatosForm.get('phoneNumber').hasError('minlength')" class="invalid-feedback">Número deve ter 11 numeros</mat-error>
        <mat-error *ngIf="ContatosForm.get('phoneNumber').hasError('maxlength')" class="invalid-feedback">Número deve ter 11 numeros</mat-error>
      </mat-form-field>
      <br>
      <br>
      <div class="alert alert-warning" role="alert">
        O e-mail não pode ser alterado por sua segurança!!!
      </div>
      <br>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label> E-mail </mat-label>
        <input matInput formControlName="email">
        <mat-icon class="material-icons-outlined" matSuffix>alternate_email</mat-icon>
        <mat-error *ngIf="ContatosForm.get('email').hasError('email')" class="invalid-feedback">Insira apenas e-mails validos</mat-error>
        <mat-error *ngIf="ContatosForm.get('email').hasError('required')" class="invalid-feedback">E-mail é obrigatório</mat-error>
      </mat-form-field>
      <br>
      <br>
      <div class="form-group col-md-12 centralizar">
        <button mat-button matStepperPrevious class="w-50" color="warn">Anterior</button>
        <button mat-button matStepperNext class="w-50" color="primary" [disabled]="Atualizando">{{TextoBotao}}</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
