<app-btn-router-back url="/user/login"></app-btn-router-back>

<div class="mt-5">
  <h1 class="title" color="primary">Registre-se</h1>
</div>

<div class="mt-4">
  <app-required-fields></app-required-fields>
</div>

<div class="mt-3">
  <mat-vertical-stepper [linear]="false" #stepper>

  <mat-step [stepControl]="dataForm" errorMessage="Sua identidicação é obrigatória">
    <ng-template matStepLabel>Identificação</ng-template>
    <div class="mt-3">
      <app-form-personal-data (returnForm)="dataFormValue($event)"></app-form-personal-data>
    </div>
  </mat-step>

  <mat-step [stepControl]="contactsForm" errorMessage="Seus contatos são obrigatórios">
    <ng-template matStepLabel>Contatos</ng-template>
    <div class="mt-3">
      <app-form-contacts (returnForm)="contactsFormValue($event)"></app-form-contacts>
    </div>
  </mat-step>

  <mat-step [stepControl]="passwordsForm" errorMessage="Definir sua senha é obrigatório">
    <ng-template matStepLabel>Senha</ng-template>
    <div class="mt-3">
      <app-form-passwords
        [textBtn]="txtFinish"
        [disableBtn]="disableFinish"
        (returnForm)="passwordsFormValue($event)">
      </app-form-passwords>
    </div>
  </mat-step>

  </mat-vertical-stepper>
</div>
