<app-btn-router-back url="/"></app-btn-router-back>
<h1 class="text-center title mt-12">
  <mat-icon class="material-icons-outlined red-material">block</mat-icon>
  <mat-icon class="material-icons-outlined red-material">block</mat-icon>
  Ooops!
  <mat-icon class="material-icons-outlined red-material">block</mat-icon>
  <mat-icon class="material-icons-outlined red-material">block</mat-icon>
</h1>
<h1 class="title text-center mb-4">
  Você não tem acesso para navegar para essa página!
</h1>
<mat-divider></mat-divider>
<h3 class="title text-center mt-4">
  Contate um adminstrador
</h3>
