<ng-container *ngIf="Vendas">
  <app-voltar></app-voltar>
  <br>
  <br>
  <br>
  <h1 class="titulo centralizar">{{Titulo}}</h1>
  <br>
  <ng-container *ngIf="Vendas.length > 0">
    <mat-list>
      <ng-container *ngFor="let venda of Vendas; let i = index">
        <mat-list-item class="lista cursor" (click)="Navegar(venda.id)">
          <div mat-line><span class="negrito" style="color: var(--verde);">Pedido N.º {{venda.id}}</span><span class="negrito-leve"> - {{venda.dataVenda | date: 'dd/MM/yyyy'}}</span></div>
          <div mat-line class="subtitulo negrito">Produtos:</div>
          <div mat-line *ngFor="let pedido of venda.pedidos" class="negrito-leve">{{pedido.quantidade}}x - {{pedido.produto.nome}}</div>
          <div mat-line class="subtitulo negrito">Valores:</div>
          <div mat-line *ngIf="venda.frete" class="negrito-leve">Frete: {{venda.valorFrete | currency:'BRL'}}</div>
          <div mat-line class="negrito-leve">Produtos: {{venda.valor | currency:'BRL'}}</div>
        </mat-list-item>
        <ng-container *ngIf="Vendas.length > (i + 1)">
          <mat-divider></mat-divider>
        </ng-container>
      </ng-container>
    </mat-list>

    <ng-container *ngIf="!UltimaPagina">
      <div class="centralizar">
        <button mat-button class="btn-responsive light-button"  color="accent" (click)="VerMais()" [disabled]="progressBarService.RetornarValor()">Ver Mais</button>
      </div>
    </ng-container>

  </ng-container>
  <ng-container *ngIf="Vendas.length == 0">
    <br>
    <br>
    <h3 class="titulo centralizar">OPS! Você não tem nenhuma compra {{statusNaoTem}}.</h3>
    <mat-divider></mat-divider>
    <br>
    <h3 class="titulo centralizar">Tente verificar se sua venda já passou para a próxima etapa ;)</h3>
    <mat-divider></mat-divider>
  </ng-container>

</ng-container>

