<ng-container *ngIf="!Enderecos">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="Enderecos">
  <app-voltar></app-voltar>
  <br>
  <br>
  <br>
  <ng-container *ngIf="Enderecos.length == 0">
      <h1 class="titulo responsive">Seus Endereços</h1>
    <br>
    <br>
    <div class="centralizar-vertical">
      <h2 class="titulo centralizar">Você ainda não tem nenhum endereço cadastrado!</h2>
      <br>
      <br>
      <br>
      <div class="form-group col-md-12 centralizar">
        <button mat-flat-button class="btn-responsive" color="primary" (click)="router.navigate(['user/perfil/endereco/add'])">Adicionar</button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="Enderecos.length > 0">
    <app-titulo-mais-add [Titulo]="'Seus Endereços'" [Rotas]="'user/perfil/endereco/add'"></app-titulo-mais-add>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <ng-container *ngFor="let endereco of Enderecos">

        <div class="col-md-6">
          <mat-card class="margin-card mat-elevation-z1">
            <div class="container">
              <div class="linha">
                <h1 class="nome cursor">{{TituloCard(endereco)}}</h1>
                <div class="botao cursor">
                  <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon color=accent>edit</mat-icon>
                      <span>Editar endereço</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon color=warn>delete_outline</mat-icon>
                      <span>Apagar endereço</span>
                    </button>
                  </mat-menu>
                </div>
                <br>
              </div>
              <mat-card-subtitle>
                {{endereco.rua}}, {{endereco.numero}} - {{endereco.bairro}}
                <br>
                {{endereco.cidade}} - {{endereco.estado}}
              </mat-card-subtitle>
            </div>
          </mat-card>



          <!-- <mat-card class="mat-elevation-z1">
            <mat-card-header>
              <mat-card-title class="quebra-linha-texto">{{TituloCard(endereco)}}</mat-card-title>
              <mat-card-subtitle>
                {{endereco.rua}}, {{endereco.numero}} - {{endereco.bairro}}
                <br>
                {{endereco.cidade}} - {{endereco.estado}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="col-md-12">
                <button mat-button class="btn-edit" color="accent" (click)="router.navigate(['user/perfil/endereco/add'])">
                  <mat-icon class="material-icons-outlined">edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button mat-button class="btn-delete" color="warn" (click)="router.navigate(['user/perfil/endereco/add'])">
                  <mat-icon class="material-icons-outlined">delete</mat-icon>
                  <span>Deletar</span>
                </button>
              </div>
            </mat-card-content>
          </mat-card> -->
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
