.pontilhado{
  border-top-width: 2px;
  border-top-style: dashed;
}

.produto {
  color: var(--azul);
}

.frete {
  color: var(--azul-escuro);
}

.dinheiro {
  color: var(--verde);
}

.mat-list {
  margin-bottom: 2rem;
}
