<br>
<h2 class="titulo centralizar">Editar</h2>
  <app-botao-quantidade [Quantidade]=Quantidade [QuantidadeMaxima]=Produto.estoque (QuantidadeEscolhida)="ReceberQuantidade($event)"></app-botao-quantidade>
<br>
<mat-divider></mat-divider>
<br>
<div class="row" align=center>
  <div class="col-sm">
    <button mat-stroked-button class="w-100 margin btn-stroked btn-remove" color="warn" (click)="RemoverItem()">
      <mat-icon class="material-icons-outlined">remove_shopping_cart</mat-icon>
      <span>Remover item</span>
    </button>
  </div>
  <div class="col-sm">
    <button mat-flat-button class="w-100 margin" color="primary" (click)="EditItem()">Salvar</button>
  </div>
</div>
