<h2 class="titulo">
  Seção 1 - <span class="verde">Definições</span>
</h2>
<p>
  Para os fins desta Política de Privacidade:
</p>
<ol type="1">
  <li>
    <span class="verde"> Dados Pessoais:</span> significa qualquer informação que, direta ou indiretamente, identifique ou possa identificar uma pessoa natural, como por exemplo, nome, CPF, data de nascimento, endereço IP, dentre outros;
  </li>
  <li>
    <span class="verde"> Dados Pessoais Sensíveis:</span> significa qualquer informação que revele, em relação a uma pessoa natural, origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico;
  </li>
  <li>
    <span class="verde"> Tratamento de Dados Pessoais:</span> significa qualquer operação efetuada no âmbito dos Dados Pessoais, por meio de meios automáticos ou não, tal como a recolha, gravação, organização, estruturação, armazenamento, adaptação ou alteração, recuperação, consulta, utilização, divulgação por transmissão, disseminação ou, alternativamente, disponibilização, harmonização ou associação, restrição, eliminação ou destruição. Também é considerado Tratamento de Dados Pessoais qualquer outra operação prevista nos termos da legislação aplicável;
  </li>
  <li>
    <span class="verde"> Leis de Proteção de Dados:</span> significa todas as disposições legais que regulam o Tratamento de Dados Pessoais, incluindo, porém sem se limitar, a Lei nº 13.709/18, Lei Geral de Proteção de Dados Pessoais ("LGPD").
  </li>
</ol>
