.line-break-matline {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

.height-matline {
  height:initial!important;
}

.btn-calculate:hover {
  background-color: var(--blue-material) !important;
}
