<br>
<h2 class="titulo centralizar">Você removar o acesso ?</h2>
<br>
<mat-divider></mat-divider>
<br>
<ng-container *ngIf="Apagando">
  <br>
  <app-progressbar></app-progressbar>
  <br>
</ng-container>
<div class="row" align=center>
  <div class="col-sm">
    <button mat-flat-button class="w-100 margin btn-esvaziar" color="primary" [disabled]=Apagando (click)="Cancelar()">Não</button>
  </div>
  <div class="col-sm">
    <button mat-flat-button class="w-100 margin" color="warn" [disabled]=Apagando (click)="Deletar()">Sim</button>
  </div>
</div>
