<ng-container *ngIf="Roles.length > 0 && Roles.length == Users.length">
  <app-voltar></app-voltar>
  <br>
  <br>
  <br>
  <app-titulo-mais-add [Titulo]="'Promover'" [Rotas]="'/admin/promover/adicionar'"></app-titulo-mais-add>
  <br>
  <br>
  <br>
  <mat-list>
    <ng-container *ngFor="let role of Users; let i = index">
    <div mat-subheader color=primary>{{role.roleName}}</div>
    <ng-container *ngFor="let user of role.users; let i = index">
      <mat-list-item>
        <div mat-line class="negrito">{{user.fullName}}</div>
        <div mat-line class="negrito-leve">{{user.cpf}}</div>
        <div mat-line class="negrito-leve">{{user.email}}</div>
        <mat-icon class="material-icons-outlined icon-delete cursor btn-mobile" (click)="openBottomSheet(user, role.roleName)">delete</mat-icon>
        <mat-icon class="material-icons-outlined icon-delete cursor btn-pc" (click)="OpenDialog(user, role.roleName)">delete</mat-icon>
      </mat-list-item>
      <ng-container *ngIf="role.users.length > (i + 1)">
        <mat-divider></mat-divider>
      </ng-container>
    </ng-container>
    </ng-container>
  </mat-list>
</ng-container>
