<ng-container *ngIf="!Categorias">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="Categorias">
  <div class="container-titulo">
    <h1 class="h1-btn titulo">Produtos</h1>
  </div>
  <br>
  <br>
  <br>
  <br>
  <ng-container *ngFor="let categoria of Categorias">
    <div class="container-divider">
      <div class="line"><mat-divider></mat-divider></div>
      <div class="text mat-typography">{{categoria.nome}}</div>
      <div class="line"><mat-divider></mat-divider></div>
    </div>
    <br>
    <ng-container *ngIf="categoria.produtos.length == 0">
      <h3 class="titulo centralizar">Aguarde por novidades!!!</h3>
    </ng-container>
    <ng-container *ngIf="categoria.produtos.length > 0">
      <div class="row">
        <ng-container *ngFor="let produto of categoria.produtos">
          <div class="col-md-3">
            <app-card-produto [produto]="produto" [categoriaNome]="categoria.nome"></app-card-produto>
          </div>
        </ng-container>
      </div>
      <br>
      <br>
      <div class="centralizar">
        <button mat-button class="btn-responsive light-button" color="accent" (click)="NavegarCategoria(categoria.nome, categoria.id)">Ver Mais</button>
      </div>
      <br>
    </ng-container>
  </ng-container>
</ng-container>
