button:focus {
  outline: none;
}

.btn-responsive {
  width: 50%;
}

.btn-titulo {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  max-width: 50%;
  overflow: hidden
}

.btn-mobile {
  display: none !important;
}

@media (max-width: 955px)
{
  .btn-pc {
    display: none !important;
  }

  .btn-mobile {
    display: block !important;
  }
}
