.icone-sidenav {
  margin-right: 20px;
}

.icone-chat {
  color: var(--verde);
}

.icone-admin {
  color: var(--amarelo);
}

.icone-sobre {
  color: var(--azul);
}

.icone-empresa {
  color: var(--vermelho);
}

.icone-produto {
  color: var(--azul-escuro);
}

.asteristico-obrigatorio {
  color: var(--vermelho);
}

