.quebralinha-matline {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

.tamanho-matlineitem{
  height:initial!important;
}

.cabecalho-lista {
  color: var(--preto) !important;
}
