.snackbar-success { background-color: var(--verde) !important; color: white !important; text-align: center !important; }

.snackbar-error { background-color: var(--vermelho) !important; color: white !important; text-align: center !important; }
