.titulo {
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}

.titulo-lista {
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
  margin-left: 1% !important;
}

.titulo-site {
  font-family: Bakerie !important;
  font-size: 25px !important;
  //color: var(--verde);
  margin: 0;
  position: absolute;
  top: 25%;
}

.container-titulo {
  position: relative;
  width: 100%;
}

.h1-btn {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 50%;
  overflow: hidden
}
.cor-titulo-primary {
  color: var(--verde);
}

@media (max-width: 600px)
{
  .titulo-lista {
    margin-left: 3% !important;
  }
}
