.titulo {
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}

.titulo-lista {
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
  margin-left: 1% !important;
}

.titulo-site {
  font-family: Pacifico !important;
  font-size: 30px;
  color: var(--verde);
  text-align: center;
}

.container-titulo {
  position: relative;
}

.h1-btn {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 50%;
  overflow: hidden
}

@media (max-width: 600px)
{
  .titulo-lista {
    margin-left: 3% !important;
  }
}
