<h2 class="titulo">
  Seção 12 - <span class="verde">Atualizações desta Política de Privacidade</span>
</h2>
<p>
  Se modificarmos nossa Política de Privacidade, publicaremos o novo texto na loja, com a data de revisão atualizada. Podemos alterar esta Política de Privacidade a qualquer momento. Caso haja alteração significativa nos termos desta Política de Privacidade, podemos informá-lo por meio das informações de contato que tivermos em nosso banco de dados ou por meio de notificação em nossa loja.
</p>
<p>
  Recordamos que nós temos como compromisso não tratar os seus Dados Pessoais de forma incompatível com os objetivos descritos acima, exceto se de outra forma requerido por lei ou ordem judicial.
</p>
<p>
  Sua utilização da loja após as alterações significa que aceitou as Políticas de Privacidade revisadas. Caso, após a leitura da versão revisada, você não esteja de acordo com seus termos, favor encerrar o acesso à loja.
</p>

