<ng-container *ngIf="Roles">
  <app-voltar></app-voltar>
    <br>
    <br>
    <br>
    <app-titulo-mais-add [Titulo]="'Rules'" [Rotas]="'/admin/gerenciarrules/adicionar'"></app-titulo-mais-add>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ng-container *ngIf="Roles.length == 0">
      <h2 class="titulo centralizar">Adicionar Admin e Empresa:</h2>
      <br>
      <div class="form-group col-md-12 centralizar">
        <button mat-flat-button class="btn-responsive" color="primary" [disabled]="Registrando" (click)="Registrar()">Adicionar</button>
      </div>
    </ng-container>
    <ng-container *ngIf="Roles.length > 0">
      <mat-list>
        <ng-container *ngFor="let role of Roles; let i = index">
          <mat-list-item >
            <mat-icon class="material-icons-outlined" mat-list-icon>group</mat-icon>
            <div mat-line class="negrito">{{role.name}}</div>
            <div mat-line class="negrito-leve">ID: {{role.id}}</div>
          </mat-list-item>
          <ng-container *ngIf="Roles.length > (i + 1)">
            <mat-divider></mat-divider>
          </ng-container>
        </ng-container>
      </mat-list>
    </ng-container>
</ng-container>

