<div class="row">
  <div class="col-4">
    <img class="cursor" src="{{link}}/resources/{{produto.imagem}}" alt="{{produto.nome}}" (click)="Navegar()">
  </div>
  <div class="col-8">
    <mat-list>
      <mat-list-item class="tamanho-matlineitem padding-list">
        <div mat-line class="quebralinha-matline negrito cursor"><span (click)="Navegar()">{{produto.nome}}</span>
          <mat-icon matTooltip="Editar" class="material-icons-outlined btn-edit btn-pc" (click)="OpenDialog(produto)">edit</mat-icon>
          <mat-icon matTooltip="Editar" class="material-icons-outlined btn-edit btn-mobile" (click)="openBottomSheet(produto)">edit</mat-icon>
        </div>
        <div mat-line class="quebralinha-matline negrito-leve">Quantidade: {{produto.quantidadePedido}}</div>
        <div mat-line *ngIf="produto.indisponivel" class="quebralinha-matline negrito indisponivel">INDISPONÍVEL</div>
        <div mat-line class="quebralinha-matline negrito-leve">{{produto.preco | currency:'BRL'}}</div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<br>
