<h1 class="titulo">Bem vindo(a), <Span style="color: var(--verde);">{{User.fullName}}.</Span></h1>
<h1>O que deseja fazer hoje?</h1>
<br>
<br>
<mat-list>
  <div mat-subheader>Acessos</div>
  <mat-list-item  class="lista cursor" (click)="router.navigate(['admin/gerenciarrules'])">
    <mat-icon class="material-icons-outlined" mat-list-icon>rule</mat-icon>
    <div mat-line>Gerenciar Rules</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item  class="lista cursor" (click)="router.navigate(['admin/promover'])">
    <mat-icon class="material-icons-outlined" mat-list-icon>local_police</mat-icon>
    <div mat-line>Promover</div>
  </mat-list-item>
</mat-list>
