<ng-container *ngIf="Tipo == TipoEncomenda">
  <div class="row" align=center>
    <div class="col-sm">
      <button mat-stroked-button class="w-100 margin btn-stroked btn-esvaziar" color="warn" (click)="LimparCarrinho()">
        <mat-icon class="material-icons-outlined">clear_all</mat-icon>
        <span>Esvaziar</span>
      </button>
    </div>
    <div class="col-sm">
      <button mat-flat-button class="w-100 margin" color="accent">Encomendar</button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="Tipo == TipoEstoque">
  <div class="row" align=center>
    <div class="col-sm">
      <button mat-stroked-button class="w-100 margin btn-stroked btn-esvaziar" color="warn" (click)="LimparCarrinho()">
        <mat-icon class="material-icons-outlined">clear_all</mat-icon>
        <span>Esvaziar</span>
      </button>
    </div>
    <div class="col-sm">
      <button mat-flat-button class="w-100 margin" color="primary">Comprar</button>
    </div>
  </div>
</ng-container>
