<ng-container *ngIf="!Categorias">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="Categorias">
  <app-voltar></app-voltar>
  <br>
  <br>
  <br>
  <app-titulo-mais-add [Titulo]="'Produtos'" [Rotas]="'/empresa/produto/adicionar'"></app-titulo-mais-add>
  <br>
  <br>
  <br>
  <br>
  <ng-container *ngFor="let categoria of Categorias">
    <div class="container-divider">
      <div class="line"><mat-divider></mat-divider></div>
      <div class="text mat-typography">{{categoria.nome}}</div>
      <div class="line"><mat-divider></mat-divider></div>
    </div>
    <br>
    <ng-container *ngIf="categoria.produtos.length == 0">
      <h3 class="titulo centralizar">Não foram cadastrados produtos para {{categoria.nome}}</h3>
    </ng-container>
    <ng-container *ngIf="categoria.produtos.length > 0">
      <div class="row">
        <ng-container *ngFor="let produto of categoria.produtos">
          <div class="col-md-3">
            <app-card-produto-empresa [produto]=produto [categoriaNome]="categoria.nome"></app-card-produto-empresa>
          </div>
        </ng-container>
      </div>
      <br>
      <br>
        <app-botao-vermais [Categoria]=categoria [Rota]="'/empresa/produto/'"></app-botao-vermais>
      <br>
    </ng-container>
  </ng-container>
</ng-container>


