<ng-container *ngIf="Enderecos.length > 0">
  <h1 class="titulo">Endereço
    <ng-container *ngIf="TipoProduto == IdEstoque">
      <h3 class="titulo">Selecione o endereço de entrega</h3>
    </ng-container>
    <ng-container *ngIf="TipoProduto == IdEncomenda">
      <h3 class="titulo">Selecione o seu endereço residêncial</h3>
    </ng-container>
  </h1>
  <ng-container *ngIf="TipoProduto == IdEncomenda">
    <app-alert-cidades-encomenda></app-alert-cidades-encomenda>
  </ng-container>
  <mat-radio-group class="radios-endereco-group" [(ngModel)]="EnderecoSelecionado">
    <mat-radio-button color=primary class="radios-endereco-button" *ngFor="let endereco of Enderecos" [disabled]=VerificaEnderecoEncomenda(endereco) (click)="EnviarEndereco(endereco)" [value]="endereco">
      <ng-container *ngIf="!endereco.descricao">
        <span class="negrito quebralinha-matline">{{endereco.rua}}, {{endereco.numero}} - {{endereco.bairro}}</span> ({{endereco.cep}})
      </ng-container>
      <ng-container *ngIf="endereco.descricao">
        <span class="negrito quebralinha-matline">{{endereco.descricao}}</span> ({{endereco.cep}})
      </ng-container>
    </mat-radio-button>
  </mat-radio-group>
  <div class="form-group col-md-12 centralizar">
    <button mat-button class="btn-responsive" color="primary" (click)="router.navigate(['user/perfil/endereco'])">Gerenciar meus endereços</button>
  </div>
</ng-container>
<ng-container *ngIf="Enderecos.length == 0">
  <h1 class="titulo">Endereços</h1>
  <br>
  <h3 class="titulo centralizar">Clique no botão abaixo para adicionar um endereço</h3>
  <br>
  <div class="form-group col-md-12 centralizar">
    <button mat-flat-button class="btn-responsive" color="primary" (click)="router.navigate(['user/perfil/endereco'])">Meus Endereços</button>
  </div>
</ng-container>
