<h2 class="title mt-5">
  Seção 3 - <span class="green-material">Não fornecimento de Dados Pessoais</span>
</h2>
<p class="text-justify">
  Não há obrigatoriedade em compartilhar os Dados Pessoais que solicitamos. No entanto, se você optar por não os compartilhar, em alguns casos, não poderemos fornecer a você acesso completo à loja, alguns recursos especializados ou ser capaz de prestar a assistência necessária ou, ainda, viabilizar a entrega do produto ou prestar o serviço contratado por você.
</p>
