<ng-container *ngIf="user$ | async as user">
  <h1 class="title mt-5">Olá,
    <span class="green-material">{{user.fullName}}.</span>
  </h1>

  <mat-list class="mt-5">
    <!-- DADOS PESSOAIS -->
    <div mat-subheader>Suas Informações</div>
    <mat-list-item class="list-hover cursor-pointer" [routerLink]="[('/profile/user')]">
      <mat-icon class="material-icons-outlined" mat-list-icon>person</mat-icon>
      <div mat-line>Dados Pessoais</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="list-hover cursor-pointer" [routerLink]="[('/profile/address')]">
      <mat-icon class="material-icons-outlined" mat-list-icon>sensor_door</mat-icon>
      <div mat-line>Endereços</div>
    </mat-list-item>

    <!-- COMPRAS -->
    <ng-container *ngFor="let sale of saleCount">
      <div mat-subheader>Compras</div>
      <mat-list-item class="list-hover cursor-pointer" [routerLink]="['/profile/sale', statusSale.awaiting_payment]">
        <mat-icon [matBadge]="sale.statusId == statusSale.awaiting_payment? sale.countSale : null" class="material-icons-outlined" mat-list-icon>credit_card</mat-icon>
        <div mat-line>Aguardando Pagamento</div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item class="list-hover cursor-pointer" [routerLink]="['/profile/sale', statusSale.waiting_to_sent]">
        <mat-icon [matBadge]="sale.statusId == statusSale.waiting_to_sent? sale.countSale : null" class="material-icons-outlined" mat-list-icon>departure_board</mat-icon>
        <div mat-line>Aguardando Envio</div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item class="list-hover cursor-pointer" [routerLink]="['/profile/sale', statusSale.sent]">
        <mat-icon [matBadge]="sale.statusId == statusSale.sent? sale.countSale : null" class="material-icons-outlined" mat-list-icon>local_shipping</mat-icon>
        <div mat-line>Enviadas</div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item class="list-hover cursor-pointer" [routerLink]="['/profile/sale', statusSale.finished]">
        <mat-icon [matBadge]="sale.statusId == statusSale.finished? sale.countSale : null" class="material-icons-outlined" mat-list-icon>check</mat-icon>
        <div mat-line>Finalizadas</div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item class="list-hover cursor-pointer" [routerLink]="['/profile/sale', statusSale.canceled]">
        <mat-icon [matBadge]="sale.statusId == statusSale.canceled? sale.countSale : null" class="material-icons-outlined" mat-list-icon>cancel</mat-icon>
        <div mat-line>Canceladas</div>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item class="list-hover cursor-pointer" [routerLink]="['/profile/sale', statusSale.in_dispute]">
        <mat-icon [matBadge]="sale.statusId == statusSale.in_dispute? sale.countSale : null" class="material-icons-outlined" mat-list-icon>shield</mat-icon>
        <div mat-line>Em Disputa</div>
      </mat-list-item>
    </ng-container>
  </mat-list>

  <div class="mt-5">
    <app-btn-responsive
      txt="Sair"
      color="warn"
      (click)="logout()">
    </app-btn-responsive>
  </div>
</ng-container>

