<app-voltar></app-voltar>
<br>
<br>
<br>
<h1 class="titulo-lista responsive">Carrinho</h1>
<br>
<ng-container *ngIf="(ProdutosEncomenda && ProdutosEncomenda.length > 0) && (ProdutosEstoque && ProdutosEstoque.length > 0)">
  <div class="alert alert-warning" role="alert">
    Produtos por encomenda são vendidos separadamentes
  </div>
</ng-container>
<ng-container *ngIf="ProdutosEncomenda && ProdutosEncomenda.length > 0">
  <br>
  <h2 class="titulo-lista responsive">Produtos por Encomenda</h2>
  <br>
  <div class="row">
    <ng-container *ngFor="let produto of ProdutosEncomenda">
      <div class="col-sm-6">
        <app-produto-carrrinho [produto]=produto (atualizacao)="ReceberAtt($event)"></app-produto-carrrinho>
      </div>
    </ng-container>
  </div>
  <br>
  <br>
  <app-botoes-carrinho [Tipo]=TipoEncomenda (esvaziado)="ReceberAtt($event)"></app-botoes-carrinho>
</ng-container>
<ng-container *ngIf="(ProdutosEncomenda && ProdutosEstoque) && (ProdutosEncomenda.length > 0 && ProdutosEstoque.length > 0)">
  <br>
  <br>
  <mat-divider></mat-divider>
  <br>
  <br>
</ng-container>
<ng-container *ngIf="ProdutosEstoque && ProdutosEstoque.length > 0">
  <h1 class="titulo-lista responsive">Produtos à Pronta Entrega</h1>
  <br>
  <div class="row">
    <ng-container *ngFor="let produto of ProdutosEstoque">
      <div class="col-sm-6">
        <app-produto-carrrinho [produto]=produto (atualizacao)="ReceberAtt($event)"></app-produto-carrrinho>
      </div>
    </ng-container>
  </div>
  <br>
  <br>
  <app-botoes-carrinho [Tipo]=TipoEstoque (esvaziado)="ReceberAtt($event)"></app-botoes-carrinho>
</ng-container>
<ng-container *ngIf="(!ProdutosEncomenda && !ProdutosEstoque) || (ProdutosEncomenda.length == 0 && ProdutosEstoque.length == 0)">
  <br>
  <br>
  <h1 class="titulo centralizar-vertical centralizar"> Não há produtos no carrinho ainda 😞 !</h1>
</ng-container>
