<h2 class="title mt-5">
  Seção 5 - <span class="green-material">Compartilhamento de Dados Pessoais com terceiros</span>
</h2>
<p>
  Nós poderemos compartilhar seus Dados Pessoais:
</p>
<ol type="1" class="text-justify">
  <li> Com a(s) empresa(s) parceira(s) que você selecionar ou optar em enviar os seus dados, dúvidas, perguntas etc., bem como com provedores de serviços ou parceiros para gerenciar ou suportar certos aspectos de nossas operações comerciais em nosso nome. Esses provedores de serviços ou parceiros podem estar localizados nos Estados Unidos, na Argentina, no Brasil ou em outros locais globais, incluindo servidores para homologação e produção, e prestadores de serviços de hospedagem e armazenamento de dados, gerenciamento de fraudes, suporte ao cliente, vendas em nosso nome, atendimento de pedidos, personalização de conteúdo, atividades de publicidade e marketing (incluindo publicidade digital e personalizada) e serviços de TI, por exemplo;
  </li>
  <li> Com terceiros, com o objetivo de nos ajudar a gerenciar a loja;
  </li>
  <li> Com terceiros, caso ocorra qualquer reorganização, fusão, venda, joint venture, cessão, transmissão ou transferência de toda ou parte da nossa empresa, ativo ou capital (incluindo os relativos à falência ou processos semelhantes).
  </li>
</ol>

