<h3 class="titulo">Editar</h3>
<form [formGroup]="VendaForm" (ngSubmit)="EditarVenda()" autocomplete="off">
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Status</mat-label>
        <mat-select [(value)]="selectedStatus" formControlName="status">
          <mat-option *ngFor="let stt of Status" [value]="stt.id" [disabled]="stt.id < 4 && stt.id < statusVenda">
            {{stt.descricao}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="VendaForm.get('status').hasError('required')" class="invalid-feedback">Status é obrigatório</mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field  appearance="fill" class="w-100">
        <mat-label>Endereço</mat-label>
        <input matInput formControlName="endereco">
        <mat-error *ngIf="VendaForm.get('endereco').hasError('required')" class="invalid-feedback">Endereço é obrigatório</mat-error>
      </mat-form-field>
    </div>
  </div>
  <br>
  <ng-container *ngIf="selectedStatus == env.Enviado">
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field  appearance="fill" class="w-100">
          <mat-label>Código de Rastreio</mat-label>
          <input matInput formControlName="codigoRastreio">
          <mat-error *ngIf="VendaForm.get('codigoRastreio').hasError('required')" class="invalid-feedback">Código de Rastreio é obrigatório</mat-error>
        </mat-form-field>
      </div>
    </div>
  </ng-container>
  <br>
  <div class="form-group col-md-12 centralizar">
    <button mat-flat-button class="btn-responsive" color="primary" [disabled]="Desabilitar">{{TextoBotao}}</button>
  </div>
</form>
