<form [formGroup]="residenceForm" (ngSubmit)="return()" autocomplete="off">

  <mat-form-field  appearance="fill" class="w-100 mt-4">
    <mat-label>CEP <span class="red-material">*</span></mat-label>
    <input matInput formControlName="cep" mask="00000-000">
    <mat-error *ngIf="residenceForm.get('cep')?.errors?.required" >CEP é obrigatório</mat-error>
    <mat-error *ngIf="residenceForm.get('cep')?.errors?.minlength">Insira um CEP valido</mat-error>
  </mat-form-field>

  <mat-form-field  appearance="fill" class="w-100 mt-4">
    <mat-label>Rua <span class="red-material">*</span></mat-label>
    <input matInput formControlName="road">
    <mat-error *ngIf="residenceForm.get('road')?.errors?.required">Rua é obrigatória</mat-error>
  </mat-form-field>

  <mat-form-field  appearance="fill" class="w-100 mt-4">
    <mat-label>Número <span class="red-material">*</span></mat-label>
    <input matInput type="number" formControlName="number">
    <mat-error *ngIf="residenceForm.get('number')?.errors?.required">Número é obrigatório</mat-error>
  </mat-form-field>

  <mat-form-field  appearance="fill" class="w-100 mt-4">
    <mat-label>Complemento</mat-label>
    <input matInput formControlName="complement">
  </mat-form-field>

  <div class="form-group col-md-12 text-center mt-4">
    <button mat-button matStepperPrevious class="w-50" color="warn">{{txtPrevious}}</button>
    <button mat-button class="w-50" color="primary" [disabled]="disableBtn">{{txtBtn}}</button>
  </div>

</form>
