img {
  border-radius: 15%;
  width: 100%;
  height: auto;
}

.mat-list-base {
  padding-top: 0px !important;
}

.padding-list {
  padding-left: 0.5rem;
}

.line-break-matline {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

.height-matline {
  height:initial!important;
}
