<ng-container *ngIf="!Categoria">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="Categoria">
  <app-voltar></app-voltar>
  <br>
  <br>
  <br>
  <div class="container-titulo">
    <h1 class="h1-btn titulo-lista">{{Categoria.nome}}</h1>
    <div class="btn-titulo">
      <mat-icon class="material-icons cursor btn-mobile" matTooltip="Ordenar" color=primary (click)="openBottomSheet()">swap_vert</mat-icon>
      <mat-icon class="material-icons cursor btn-pc" matTooltip="Ordenar" color=primary (click)="openDialog()">swap_vert</mat-icon>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row">
  <ng-container *ngFor="let produto of Categoria.produtos  | paginate: { itemsPerPage: 8, currentPage: pages }">
      <div class="col-md-3">
        <mat-card class="mat-elevation-z2">
          <img mat-card-image src="{{link}}/resources/{{produto.imagem}}" alt="{{produto.nome}}">
            <mat-card-header>
              <mat-card-title>{{produto.nome}}</mat-card-title>
              <mat-card-title style="font-size: 14px;" class="{{ColorEstoque(produto.estoque)}}">Estoque: {{produto.estoque}}</mat-card-title>
              <mat-card-subtitle>{{produto.preco | currency:'BRL'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="form-group col-md-12 centralizar">
                <button mat-button class="w-100" color="accent">Editar</button>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
  </div>
  <br>
  <br>
  <br>
  <div class="d-flex justify-content-center">
    <pagination-controls
      (pageChange)="onChangePage($event)"
      maxSize="9"
      autoHide="true"
      responsive="true"
      previousLabel="Anterior"
      nextLabel="Próximo"></pagination-controls>
  </div>
  <br>
  <br>
</ng-container>
