<ng-container *ngIf="Categoria && Produtos">
  <app-voltar></app-voltar>
  <br>
  <br>
  <br>
  <ng-container *ngIf="!Categoria">
    <app-not-found></app-not-found>
  </ng-container>
  <ng-container *ngIf="Categoria">
    <div class="container-titulo">
      <h1 class="h1-btn titulo">{{Categoria.nome}}</h1>
      <div class="btn-titulo">
        <mat-icon *ngIf="!open" class="material-icons cursor btn-search " matTooltip="Pesquisar" color=primary (click)="openAccordion()">search</mat-icon>
        <mat-icon *ngIf="open" class="material-icons cursor btn-search " matTooltip="Fechar pesquisa" color=warn (click)="openAccordion()">clear</mat-icon>

        <!-- botoes filtro -->
        <mat-icon class="material-icons cursor btn-mobile" matTooltip="Ordenar" color=accent (click)="openBottomSheet()">swap_vert</mat-icon>
        <mat-icon class="material-icons cursor btn-pc btn-orderby" matTooltip="Ordenar" color=accent (click)="openDialog()">swap_vert</mat-icon>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div>
      <mat-accordion>
        <mat-expansion-panel [expanded]="open == true" class="mat-elevation-z0" hideToggle>
          <br>
          <app-pesquisa (OnTyping)="receberPesquisa($event)" [value]="Search"></app-pesquisa>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <br>
    <ng-container *ngIf="Produtos.length > 0">
      <div class="row">
        <ng-container *ngFor="let produto of Produtos">
          <div class="col-md-3">
            <app-card-produto-empresa [produto]=produto [categoriaNome]="Categoria.nome"></app-card-produto-empresa>
          </div>
        </ng-container>
      </div>
      <br>
      <ng-container *ngIf="!UltimaPagina">
        <div class="centralizar">
          <button mat-button class="btn-responsive light-button"  color="accent" (click)="VerMais()" [disabled]="progressBarService.RetornarValor()">Ver Mais</button>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="Produtos.length == 0">
      <br>
      <br>
      <h3 class="titulo centralizar">Não encontramos nenhum(a) {{this.Categoria.nome}} que tenha em seu nome "{{Search}}".🤔 </h3>
    </ng-container>

  </ng-container>
</ng-container>
