<h2 class="titulo">
  Seção 9 - <span class="verde">Direitos do Usuário</span>
</h2>
<p>
  Você pode, a qualquer momento, requerer:
  (i) confirmação de que seus Dados Pessoais estão sendo tratados;
  (ii) acesso aos seus Dados Pessoais;
  (iii) correções a dados incompletos, inexatos ou desatualizados;
  (iv) anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com o disposto em lei;
  (v) portabilidade de Dados Pessoais a outro prestador de serviços, contanto que isso não afete nossos segredos industriais e comerciais;
  (vi) eliminação de Dados Pessoais tratados com seu consentimento, na medida do permitido em lei;
  (vii) informações sobre as entidades às quais seus Dados Pessoais tenham sido compartilhados;
  (viii) informações sobre a possibilidade de não fornecer o consentimento e sobre as consequências da negativa; e
  (ix) revogação do consentimento. Os seus pedidos serão tratados com especial cuidado de forma a que possamos assegurar a eficácia dos seus direitos.
  Poderá lhe ser pedido que faça prova da sua identidade de modo a assegurar que a partilha dos Dados Pessoais é apenas feita com o seu titular.
</p>
<p>
  Você deverá ter em mente que, em certos casos (por exemplo, devido a requisitos legais), o seu pedido poderá não ser imediatamente satisfeito, além de que nós poderemos não conseguir atendê-lo por conta de cumprimento de obrigações legais.
</p>
