.btn-register {
  color: var(--verde);
  background-color: transparent;
  font-size: 15px;
}

.login {
  margin-top: 10%;
}

.btn-esquecisenha {
  color: var(--azul-escuro);
}

.w-40 {
  width: 40%;
}
