<h1 class="titulo login" color="primary">Login</h1>
<br>
<form [formGroup]="LoginForm" (ngSubmit)="Login()" autocomplete="off">
  <mat-form-field appearance="fill" class="w-100">
    <mat-label> E-mail </mat-label>
    <input matInput formControlName="email">
    <mat-icon class="material-icons-outlined" matSuffix >mail_outline</mat-icon>
    <mat-error *ngIf="LoginForm.get('email').hasError('email')" class="invalid-feedback">Insira apenas e-mails validos</mat-error>
    <mat-error *ngIf="LoginForm.get('email').hasError('required')" class="invalid-feedback">E-mail é obrigatório</mat-error>
  </mat-form-field>
  <br>
  <br>
  <mat-form-field appearance="fill" class="w-100">
    <mat-label> Senha </mat-label>
    <input type="password" matInput formControlName="password">
    <mat-icon class="material-icons-outlined" matSuffix>https</mat-icon>
    <mat-error *ngIf="LoginForm.get('password').hasError('minlength')" class="invalid-feedback">Senha deve ter no minimo 8 caracteres</mat-error>
    <mat-error *ngIf="LoginForm.get('password').hasError('required')" class="invalid-feedback">Senha é obrigatória</mat-error>
  </mat-form-field>
  <br>
  <h4 (click)="router.navigate(['user/esquecisenha'])" class="w-40 btn-esquecisenha cursor negrito">Esqueceu a senha?</h4>
  <br>
  <div class="form-row">
    <div class="form-group col-md-12 centralizar">
      <p class="mt-2 mb-1 text-muted">Não tem login? Cadastre-se abaixo</p>
      <button mat-button type="button" class="btn btn-link btn-register btn-block" (click)="router.navigate(['user/register'])">Quero me cadastrar</button>
    </div>
  </div>
  <ng-container *ngIf="RealizandoLogin">
    <app-progressbar></app-progressbar>
  </ng-container>
  <br>
  <div class="form-group col-md-12 centralizar">
    <button mat-flat-button class="btn-responsive" color="primary" [disabled]=RealizandoLogin>Acessar</button>
  </div>
</form>
