.img {
  border-radius: 10%;
  width: 100%;
}

.dinheiro {
  color: var(--verde);
}

.mobile {
  display: none;
}


.btn-quantidade {
  background-color: transparent !important;
  color: black;
}

.estoque {
  color: var(--azul);
}

.frete {
  color: var(--azul-escuro);
}

.frete-calculado {
  color: var(--vermelho);
}

.estoque-quantidade {
  color: var(--azul-escuro)
}

.mat-flat-button {
  background-color: var(--azul-escuro) !important;
  color: white !important;
}


@media (max-width: 600px)
{

  .mobile {
    display: block;
  }

  .pc {
    display: none;
  }
}
