.img {
  border-radius: 10%;
  width: 100%;
}

.dinheiro {
  color: var(--verde);
}

.mobile {
  display: none;
}


.btn-quantidade {
  background-color: transparent !important;
  color: black;
}

.estoque {
  color: var(--azul);
}

@media (max-width: 600px)
{

  .mobile {
    display: block;
  }

  .pc {
    display: none;
  }
}
