<ng-container *ngIf="!Produto">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="Produto">
  <app-voltar></app-voltar>
  <br>
  <br>
  <br>
  <br>
  <div class="mobile">
    <h1 class="titulo centralizar">{{Produto.nome}}</h1>
    <br>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="col-img">
        <img src="{{link}}/resources/{{Produto.imagem}}" alt="{{Produto.nome}}" class="img">
      </div>
      <br>
      <div class="alert alert-warning" role="alert">
        Os produtos do site são reais e tentamos sempre enviar o mais idêntico possível da foto disposta,
        mas cada ítem é único, sendo assim natural a variabilidade de tamanho ou coloração.
      </div>
    </div>
    <div class="col-sm-7">
      <h1 class="titulo centralizar pc">{{Produto.nome}}</h1>
      <br>
      <mat-list>
        <div mat-subheader class="cabecalho-lista negrito">Descrição</div>
        <mat-list-item class="tamanho-matlineitem">
          <div mat-line class="quebralinha-matline">{{Produto.descricao}}</div>
        </mat-list-item>
        <br>
        <div mat-subheader class="cabecalho-lista negrito">Valor</div>
        <mat-list-item class="tamanho-matlineitem">
          <mat-icon class="material-icons-outlined dinheiro" mat-list-icon>payments</mat-icon>
          <div mat-line class="quebralinha-matline negrito dinheiro">{{Produto.preco | currency:'BRL'}}</div>
          <div mat-line class="quebralinha-matline">Aceitamos cartões e boleto como formas de pagamento.</div>
        </mat-list-item>
        <br>
        <div mat-subheader class="cabecalho-lista negrito">Estoque</div>
        <mat-list-item class="tamanho-matlineitem">
          <mat-icon class="material-icons-outlined estoque" mat-list-icon>local_mall</mat-icon>
          <div mat-line class="quebralinha-matline negrito  estoque">Temos {{Produto.estoque}} {{Produto.nome}} em estoque</div>
          <div mat-line class="quebralinha-matline">Selecione abaixo a quantidade que deseja levar</div>
        </mat-list-item>
      </mat-list>
      <br>
      <br>
      <div class="centralizar">
        <button mat-icon-button color color="warn" class="btn-menos mat-elevation-z0" [disabled]="quantidade <= 1" (click)="quantidade = quantidade - 1">
          <mat-icon>remove_circle_outline</mat-icon>
        </button>
        <button mat-icon-button class="btn-quantidade mat-elevation-z0" style="font-size: 17px;">{{quantidade}}</button>
        <button mat-icon-button color="primary" class="btn-mais mat-elevation-z0" (click)="quantidade = quantidade + 1" [disabled]="quantidade >= Produto.estoque">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <br>
        <br>
        <br>
        <app-botao-carrinho [TipoBotao]="'solido'" [Quantidade]="quantidade" [Desabilitar]="Produto.estoque <= 0"></app-botao-carrinho>
      </div>
    </div>
  </div>
</ng-container>
