.img {
  border-radius: 10%;
  width: 100%;
}

.dinheiro {
  color: var(--verde);
}

.quebralinha-matline {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

.tamanho-matlineitem{
  height:initial!important;
}

.mobile {
  display: none;
}

.btn-menos {
  margin-right: 18%;
}

.btn-mais {
  margin-left: 18%;
}

.btn-quantidade {
  background-color: transparent !important;
  color: black;
}

.estoque {
  color: var(--azul-escuro);
}

.cabecalho-lista {
  color: var(--preto);
}

@media (max-width: 600px)
{

  .mobile {
    display: block;
  }

  .pc {
    display: none;
  }
}
