<ng-container *ngIf="Categorias">
  <app-voltar></app-voltar>
  <br>
  <br>
  <br>
    <app-titulo-mais-add [Titulo]="'Categorias'" [Rotas]="'/empresa/categoria/adicionar'"></app-titulo-mais-add>
  <br>
  <br>
  <br>
  <br>
  <ng-container *ngIf="CategoriasAtivas.length > 0">
    <app-lista-categoria [Categorias]=CategoriasAtivas [Titulo]="'Ativas'"></app-lista-categoria>
  </ng-container>
  <ng-container *ngIf="CategoriasAtivas.length == 0">
    <app-lista-categoria-vazia [Titulo]="'Ativas'" [Mensagem]="'Não há categorias ativas'"></app-lista-categoria-vazia>
  </ng-container>
  <br>
  <br>
  <ng-container *ngIf="CategoriasInativas.length > 0">
    <app-lista-categoria [Categorias]=CategoriasInativas [Titulo]="'Inativas'"></app-lista-categoria>
  </ng-container>
  <ng-container *ngIf="CategoriasInativas.length == 0">
    <app-lista-categoria-vazia [Titulo]="'Inativas'" [Mensagem]="'Não há categorias inativas'"></app-lista-categoria-vazia>
  </ng-container>
</ng-container>
<br>
<br>
