<ng-container *ngIf="!TipoCategoria">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="TipoCategoria">
  <app-voltar></app-voltar>
  <br>
  <br>
  <br>
  <br>
  <h1 class="titulo">Editar Tipo de Categoria</h1>
  <br>
  <br>
  <form [formGroup]="TipoCategoriaForm" (ngSubmit)="Editar()">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome">
      <mat-error *ngIf="TipoCategoriaForm.get('nome').hasError('required')" class="invalid-feedback">Nome é obrigatório</mat-error>
    </mat-form-field>
    <br>
    <br>
    <ng-container *ngIf="EditandoCategoria">
      <app-progressbar></app-progressbar>
    </ng-container>
    <br>
    <div class="form-group col-md-12 centralizar">
      <button mat-flat-button class="btn-responsive" color="primary" [disabled]=EditandoCategoria>Editar</button>
    </div>
  </form>
</ng-container>

