<h2 class="titulo">
  Seção 8 - <span class="verde">Categorias de cookies</span>
</h2>
<p>
  Os cookies utilizados na nossa loja estão de acordo com os requisitos legais e são enquadrados nas seguintes categorias:
</p>

<ol type="1">
  <li>
    <span class="verde"> Estritamente necessários:</span> estes cookies permitem que você navegue pelo site e desfrute de recursos essenciais com segurança. Um exemplo são os cookies de segurança, que autenticam os usuários, protegem os seus dados e evitam a criação de logins fraudulentos.
  </li>
  <li>
    <span class="verde"> Desempenho:</span> os cookies desta categoria coletam informações de forma codificada e anônima relacionadas à nossa loja virtual, como, por exemplo, o número de visitantes de uma página específica, origem das visitas ao site e quais as páginas acessadas pelo usuário.
    Todos os dados coletados são utilizados apenas para eventuais melhorias no site e para medir a eficácia da nossa comunicação.
  </li>
  <li>
    <span class="verde"> Funcionalidade:</span> estes cookies são utilizados para lembrar definições de preferências do usuário com o objetivo de melhorar a sua visita no nosso site, como, por exemplo, configurações aplicadas no layout do site ou suas respostas para pop-ups de promoções e cadastros -; dessa forma, não será necessário perguntar inúmeras vezes.
  </li>
  <li>
    <span class="verde"> Publicidade:</span> utilizamos cookies com o objetivo de criar campanhas segmentadas e entregar anúncios de acordo com o seu perfil de consumo na nossa loja virtual.
  </li>
</ol>
