<br>
<h1 class="titulo centralizar">Ordenar por:</h1>
<mat-nav-list>
  <mat-list-item (click)="Fechar(env.PrecoMenor)">
    <mat-icon class="material-icons-outlined" mat-list-icon style="color: var(--azul);">arrow_circle_up</mat-icon>
    <div mat-line class="negrito-leve">Preço</div>
    <div mat-line class="negrito">Menor para maior</div>
  </mat-list-item>
  <mat-divider></mat-divider>
    <mat-list-item (click)="Fechar(env.PrecoMaior)">
      <mat-icon class="material-icons-outlined" mat-list-icon style="color: var(--azul);">arrow_circle_down</mat-icon>
      <div mat-line class="negrito-leve">Preço</div>
      <div mat-line class="negrito">Maior para menor</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item (click)="Fechar(env.Alfabetica)">
      <mat-icon class="material-icons-outlined" mat-list-icon style="color: var(--azul);">sort_by_alpha</mat-icon>
      <div mat-line class="negrito-leve">Ordem alfabética</div>
      <div mat-line class="negrito">Da letra A a Z</div>
    </mat-list-item>
    <ng-container *ngIf="Estoque">
      <mat-divider></mat-divider>
      <mat-list-item (click)="Fechar(env.Estoque)" class="estoque">
        <mat-icon class="material-icons-outlined" mat-list-icon>warning</mat-icon>
        <div mat-line class="negrito-leve">Estoque</div>
        <div mat-line class="negrito">Do zerado para a maior quantidade</div>
      </mat-list-item>
    </ng-container>
</mat-nav-list>
