<app-voltar></app-voltar>
<br>
<br>
<br>
<h1 class="titulo centralizar">Dados Pessoais</h1>
<br>
<br>
<form [formGroup]="UserForm" autocomplete="off">
  <h1 class="titulo">Identificação:</h1>
  <br>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="nome">
    <mat-icon class="material-icons-outlined" matSuffix>person</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>CPF</mat-label>
    <input matInput formControlName="cpf" mask="000.000.000/00">
    <mat-icon class="material-icons-outlined" matSuffix>person</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Data de Nascimento</mat-label>
    <input matInput formControlName="data" mask="00/00/0000">
    <mat-icon class="material-icons-outlined" matSuffix>cake</mat-icon>
  </mat-form-field>
  <br>
  <br>
  <h1 class="titulo">Contatos:</h1>
  <br>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Celular</mat-label>
    <input matInput formControlName="telefone" mask="(00)00000-0000">
    <mat-icon class="material-icons-outlined" matSuffix>phone_iphone</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>E-mail</mat-label>
    <input matInput formControlName="email">
    <mat-icon class="material-icons-outlined" matSuffix>alternate_email</mat-icon>
  </mat-form-field>
</form>
<br>
<br>
<div class="form-group col-md-12 centralizar">
  <button mat-flat-button class="btn-responsive" color="primary" (click)="router.navigate(['user/perfil/dados/edit'])">Editar Informações</button>
</div>
