.zerado {
  color: var(--vermelho);
}

.pouco {
  color: var(--laranja);
}

.otimo {
  color: var(--verde);
}

.encomenda {
  color: var(--azul);
}

.mat-card {
  max-width: 200px;
}


@media (max-width: 800px)
{
  .mat-card-title {
    font-size: 15px !important;
  }
}

@media (max-width: 300px)
{
  .mat-card-title {
    font-size: 12px !important;
  }

  .mat-card-subtitle {
    font-size: 12px !important;
  }
}

