<app-voltar></app-voltar>
  <br>
  <br>
  <br>
  <h1 class="titulo">Adicionar Rules</h1>
  <br>
  <br>
  <br>
  <form [formGroup]="RoleForm" (ngSubmit)="Registrar()" autocomplete="off">
    <mat-form-field appearance="fill" class="w-100">
      <mat-label> Nome </mat-label>
      <input matInput formControlName="name">
      <mat-icon class="material-icons-outlined" matSuffix >article</mat-icon>
      <mat-error *ngIf="RoleForm.get('name').hasError('required')" class="invalid-feedback">Nome é obrigatório</mat-error>
    </mat-form-field>
    <br>
    <br>
    <div class="form-group col-md-12 centralizar">
      <button mat-flat-button class="btn-responsive" color="primary" [disabled]=Registrando>Registrar</button>
    </div>
</form>
