<app-voltar></app-voltar>
<br>
<br>
<br>
<h1 class="titulo">
  Política de Privacidade - <span class="verde">Suculentas da Rô</span></h1>
  <p class="titulo ">Esta política é válida a partir de Julho 2021.</p>
<br>
<p>
  Suculentas da Rô, pessoa jurídica de direito privado leva a sua privacidade a sério e zela pela segurança e proteção de dados de todos os seus clientes, parceiros, fornecedores e usuários do site domínio https://www.suculentasdaro.com.br e qualquer outro site, loja ou aplicativo operado pelo lojista.
</p>
<p>
  Esta Política de Privacidade destina-se a informá-lo sobre o modo como nós utilizamos e divulgamos informações coletadas em suas visitas à nossa loja e em mensagens que trocamos com você.
</p>
<p>
  Esta Política de Privacidade aplica-se somente a informações coletadas por meio da loja.
</p>
<p class="verde">
  AO ACESSAR A LOJA, ENVIAR COMUNICAÇÕES OU FORNECER QUALQUER TIPO DE DADO PESSOAL, VOCÊ DECLARA ESTAR CIENTE COM RELAÇÃO AOS TERMOS AQUI PREVISTOS E DE ACORDO COM A POLÍTICA DE PRIVACIDADE, A QUAL DESCREVE AS FINALIDADES E FORMAS DE TRATAMENTO DE SEUS DADOS PESSOAIS QUE VOCÊ DISPONIBILIZAR NA LOJA.
</p>
<p>
  Esta Política de Privacidade fornece uma visão geral de nossas práticas de privacidade e das escolhas que você pode fazer, bem como direitos que você pode exercer em relação aos Dados Pessoais tratados por nós.
  Se você tiver alguma dúvida sobre o uso de Dados Pessoais, entre em contato com <span class="verde">suporte@suculentasdaro.com</span>
</p>
<p>
  Além disso, a Política de Privacidade não se aplica a quaisquer aplicativos, produtos, serviços, site ou recursos de mídia social de terceiros que possam ser oferecidos ou acessados por meio da loja.
  O acesso a esses links fará com que você deixe o nosso site e poderá resultar na coleta ou compartilhamento de informações sobre você por terceiros.
  Nós não controlamos, endossamos ou fazemos quaisquer representações sobre sites de terceiros ou suas práticas de privacidade, que podem ser diferentes das nossas. Recomendamos que você revise a política de privacidade de qualquer site com o qual você interaja antes de permitir a coleta e o uso de seus Dados Pessoais.
</p>
<p>
  Caso você nos envie Dados Pessoais referentes a outras pessoas físicas, você declara ter a competência para fazê-lo e declara ter obtido o consentimento necessário para autorizar o uso de tais informações nos termos desta Política de Privacidade.
</p>
  <app-secao1></app-secao1>
  <app-secao2></app-secao2>
  <app-secao3></app-secao3>
  <app-secao4></app-secao4>
  <app-secao5></app-secao5>
  <app-secao6></app-secao6>
  <app-secao7></app-secao7>
  <app-secao8></app-secao8>
  <app-secao9></app-secao9>
  <app-secao10></app-secao10>
  <app-secao11></app-secao11>
  <app-secao12></app-secao12>
  <app-secao13></app-secao13>
