<h1 class="titulo centralizar">
  Desculpe, a <span style="color: var(--verde);">página</span> que você procura <span style="color: var(--verde);">não</span> foi <span style="color: var(--verde);">encontrada.</span> Qual o problema?
</h1>
<br>
<br>
<h4 class="titulo centralizar">Verifique se você digitou corretamente o endereço desejado.</h4>
<mat-divider></mat-divider>
<br>
<h4 class="titulo centralizar">O conteúdo pode ter sido removido ou não estar mais disponível.</h4>
<mat-divider></mat-divider>
<br>
<h4 class="titulo centralizar">O servidor pode estar fora do ar no momento.</h4>
<br>
