<h1 class="title text-center mt-5">
  Desculpe, a
    <span class="green-material">
      página
    </span>
    que você procura
    <span class="green-material">
      não
    </span>
    foi
    <span class="green-material">
      encontrada.
    </span>
    Qual o problema?
</h1>
<h4 class="title text-center mt-4">Verifique se você digitou corretamente o endereço desejado.</h4>
<mat-divider></mat-divider>
<h4 class="title text-center mt-4">O conteúdo pode ter sido removido ou não estar mais disponível.</h4>
<mat-divider></mat-divider>
<h4 class="title text-center mt-4 mb-4">O servidor pode estar fora do ar no momento.</h4>
