<form [formGroup]="passwordsForm" (ngSubmit)="return()" autocomplete="off">

  <app-alert-warning text="Senha deve conter no mínimo 8 caracteres">
  </app-alert-warning>

  <div formGroupName="passwords">

    <mat-form-field appearance="fill" class="w-100 mt-3">
      <mat-label> Senha <span class="red-material">*</span></mat-label>
      <input type="password" matInput formControlName="password">
      <mat-icon class="material-icons-outlined" matSuffix>lock_open</mat-icon>
      <mat-error *ngIf="passwordsForm.get('passwords.password')?.errors?.required">Senha é obrigatória</mat-error>
      <mat-error *ngIf="passwordsForm.get('passwords.password')?.errors?.minlength">Senha deve conter no minimo 8 caracteres</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" class="w-100 mt-3">
      <mat-label> Confirmar senha <span class="red-material">*</span></mat-label>
      <input type="password" matInput formControlName="confirmedPassword">
      <mat-icon class="material-icons-outlined" matSuffix>https</mat-icon>
      <mat-error *ngIf="passwordsForm.get('passwords.confirmedPassword')?.errors?.required">Confirmar senha é obrigatório</mat-error>
      <mat-error *ngIf="passwordsForm.get('passwords.confirmedPassword')?.errors?.minlength">Senha deve conter no minimo 8 caracteres</mat-error>
      <mat-error *ngIf="passwordsForm.get('passwords.confirmedPassword')?.errors?.mismatch"> Senhas não conferem </mat-error>
    </mat-form-field>

  </div>

  <div class="text-center mt-4">
    <mat-checkbox color="primary" value="after" formControlName="terms_politics">
      Aceito os
      <a [routerLink]="['/user/terms']" target="_blank" class="green-material">
        Termos de Uso
      </a>
      e autorizo o uso de meus dados de acordo com a
      <a [routerLink]="['/user/politics']" target="_blank" class="green-material">
        Politica de Privacidade.
      </a>
    </mat-checkbox>
  </div>

  <div class="form-group col-md-12 text-center mt-4 mb-5">
    <button mat-button matStepperPrevious class="w-50" color="warn">{{txtPrevious}}</button>
    <button mat-button class="w-50" color="primary" [disabled]="disableBtn">{{textBtn}}</button>
  </div>
</form>
