@import url('https://fonts.googleapis.com/css?family=Pacifico:300,400,500&display=swap');
@import '~@angular/material/theming';

@include mat-core();

// GERAL
:root {
  --verde: #77bfa3;
  --verde-claro: #80ed99;
  --vermelho: #ff686b;
  --azul: #80a1d4;
  --azul-escuro: #338896;
  --amarelo: #f5dd90;
  --laranja: #ffa62b;
  --cinza-fundo: #f8f9fa;
  --cinza-linha-toolbar: #dee2e6;
  --cinza-hover: #e9ecef;
  --roxo: #9d4edd;
  --rosa: #ffcbf2;
  --marrom: #cb997e;
}

html, body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif !important; }

button:focus { outline: none; }

.titulo {
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}

.titulo-lista {
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
  margin-left: 1% !important;
}

.titulo-site {
  font-family: Pacifico !important;
  font-size: 30px;
  color: var(--verde);
  text-align: center;
}

.container-divider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  flex: 1;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
}

.cursor {
  cursor: pointer;
}

.centralizar {
  text-align: center;
}

.invalid-feedback {
  font-size: 12px;
}

.margin-card {
  margin-bottom: 2rem;
}

.disabled-pointer {
  pointer-events: none !important;
}

.btn-responsive {
  width: 50%;
}

.negrito {
  font-weight: 500 !important;
}

.negrito-leve {
  font-weight: 200 !important;
}

.lista :hover {
  background-color: var(--cinza-hover);
}

.container-titulo {
  position: relative;
}

.quebra-linha-texto {
  white-space: pre-wrap;
}

.h1-btn {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 50%;
  overflow: hidden
}

.btn-titulo {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  max-width: 50%;
  overflow: hidden
}

mat-card {
  margin-top: 10%;
  border-radius: 20px !important;
}

.mat-card :hover {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
}

ul {
  padding-inline-start: 0px !important;
}

.ngx-pagination .current {
  background: var(--verde) !important;
}

@media (max-width: 770px)
{
  .col-md-3 {
    width: 50% !important;
  }
}

@media (max-width: 600px)
{
  .btn-responsive {
    width: 100%;
  }

  .titulo-lista {
    margin-left: 3% !important;
  }
}

// ICON
.icone-sidenav {
  margin-right: 20px;
}

.icone-chat {
  color: var(--verde);
}

.icone-admin {
  color: var(--amarelo);
}

.icone-sobre {
  color: var(--azul);
}

.icone-empresa {
  color: var(--vermelho);
}

.icone-produto {
  color: var(--azul-escuro);
}

// SNACKBAR
.snackbar-success { background-color: var(--verde) !important; color: white !important; text-align: center !important; }

.snackbar-error { background-color: var(--vermelho) !important; color: white !important; text-align: center !important; }

// ANGULAR MATERIAL THEME
$dc-green: (
    50: #e5f4ef,
    100: #bfe3d6,
    200: #99d2bd,
    300: #77bfa3,
    400: #63b092,
    500: #56a281,
    600: #509476,
    700: #488467,
    800: #40735a,
    900: #325741,
    A100: #e5f4ef,
    A200: #bfe3d6,
    A400: #99d2bd,
    A700: #77bfa3,
    contrast: (
        50: $white-87-opacity,
        100: $white-87-opacity,
        200: $white-87-opacity,
        300: $white-87-opacity,
        400: $white-87-opacity,
        500: black,
        600: black,
        700: black,
        800: black,
        900: black,
        A100: $white-87-opacity,
        A200: $white-87-opacity,
        A400: $white-87-opacity,
        A700: $white-87-opacity,
    )
);

$dc-red: (
    50: #ffeaee,
    100: #ffeaee,
    200: #ff9595,
    300: #ff686b,
    400: #ff3b42,
    500: #ff2222,
    600: #ed001f,
    700: #ed001f,
    800: #e00017,
    900: #d00007,
    A100: #ffeaee,
    A200: #ffeaee,
    A400: #ff9595,
    A700: #ff686b,
    contrast: (
        50: $white-87-opacity,
        100: $white-87-opacity,
        200: $white-87-opacity,
        300: $white-87-opacity,
        400: $white-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $white-87-opacity,
        A200: $white-87-opacity,
        A400: $white-87-opacity,
        A700: $white-87-opacity,
    )
);

$dc-blue: (
    50: #e3f8fb,
    100: #baedf5,
    200: #90e1ef,
    300: #69d4e7,
    400: #50cbe2,
    500: #45c2dc,
    600: #40b2c9,
    700: #399cae,
    800: #338896,
    900: #27656b,
    A100: #e3f8fb,
    A200: #baedf5,
    A400: #90e1ef,
    A700: #338896,
    contrast: (
        50: $white-87-opacity,
        100: $white-87-opacity,
        200: $white-87-opacity,
        300: $white-87-opacity,
        400: $white-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $white-87-opacity,
        A200: $white-87-opacity,
        A400: $white-87-opacity,
        A700: $white-87-opacity,
    )
);

$candy-app-primary: mat-palette($dc-green, A700);
$candy-app-accent:  mat-palette($dc-blue,A700);
$candy-app-warn: mat-palette($dc-red, A700);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

@include angular-material-theme($candy-app-theme);
