<app-voltar></app-voltar>
<br>
<br>
<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="DadosForm">
    <ng-template matStepLabel>Dados</ng-template>
    <br>
    <form [formGroup]="DadosForm" autocomplete="off">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label> Nome completo </mat-label>
        <input matInput formControlName="fullname">
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="DadosForm.get('fullname').hasError('required')" class="invalid-feedback">Nome é obrigatório</mat-error>
        <mat-error *ngIf="DadosForm.get('fullname').hasError('minlength')" class="invalid-feedback">Nome deve ter no minimo 3 caracteres</mat-error>
        <mat-error *ngIf="DadosForm.get('fullname').hasError('maxlength')" class="invalid-feedback">Nome deve ter no maximo 70 caracteres</mat-error>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label> CPF </mat-label>
        <input matInput formControlName="cpf" mask="000.000.000/00">
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="DadosForm.get('cpf').hasError('required')" class="invalid-feedback">CPF é obrigatório</mat-error>
        <mat-error *ngIf="DadosForm.get('cpf').hasError('minlength')" class="invalid-feedback">CPF deve ter 11 numeros</mat-error>
        <mat-error *ngIf="DadosForm.get('cpf').hasError('maxlength')" class="invalid-feedback">CPF deve ter 11 numeros</mat-error>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label> Data de nascimento </mat-label>
        <input matInput formControlName="dataNascimento" [dropSpecialCharacters]="false" mask="00/00/0000">
        <mat-icon matSuffix>cake</mat-icon>
        <mat-error *ngIf="DadosForm.get('dataNascimento').hasError('required')" class="invalid-feedback">Data de Nascimento é obrigatória</mat-error>
        <mat-error *ngIf="DadosForm.get('dataNascimento').hasError('minlength')" class="invalid-feedback">Valor inserido não confere como data valida</mat-error>
        <mat-error *ngIf="DadosForm.get('dataNascimento').hasError('maxlength')" class="invalid-feedback">Valor inserido não confere como data valida</mat-error>
      </mat-form-field>
      <br>
      <br>
      <div class="form-group col-md-12 centralizar">
        <button mat-button matStepperNext class="btn-responsive" color="primary" [disabled]=!DadosForm.valid>Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="ContatosForm">
    <ng-template matStepLabel>Contatos</ng-template>
    <br>
    <form [formGroup]="ContatosForm" (ngSubmit)="nextStep()" autocomplete="off">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label> Celular + DDD </mat-label>
        <input matInput formControlName="phoneNumber" mask="(00)00000-0000">
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error *ngIf="ContatosForm.get('phoneNumber').hasError('required')" class="invalid-feedback">Número é obrigatório</mat-error>
        <mat-error *ngIf="ContatosForm.get('phoneNumber').hasError('minlength')" class="invalid-feedback">Número deve ter 11 numeros</mat-error>
        <mat-error *ngIf="ContatosForm.get('phoneNumber').hasError('maxlength')" class="invalid-feedback">Número deve ter 11 numeros</mat-error>
      </mat-form-field>
      <br>
      <br>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label> E-mail </mat-label>
        <input matInput formControlName="email">
        <mat-icon matSuffix>mail_outline</mat-icon>
        <mat-error *ngIf="ContatosForm.get('email').hasError('email')" class="invalid-feedback">Insira apenas e-mails validos</mat-error>
        <mat-error *ngIf="ContatosForm.get('email').hasError('required')" class="invalid-feedback">E-mail é obrigatório</mat-error>
      </mat-form-field>
      <br>
      <br>
      <div class="form-group col-md-12 centralizar">
        <button mat-button matStepperPrevious class="w-50" color="warn">Anterior</button>
        <button mat-button matStepperNext class="w-50" color="primary" [disabled]="!ContatosForm.valid">Próximo</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Senhas</ng-template>
    <br>
    <form [formGroup]="SenhaForm" (ngSubmit)="Registrar()" autocomplete="off">
      <div formGroupName="passwords">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label> Senha </mat-label>
          <input type="password" matInput formControlName="password">
          <mat-icon matSuffix>lock_open</mat-icon>
          <mat-error *ngIf="SenhaForm.get('passwords.password').hasError('required')" class="invalid-feedback">Senha é obrigatória</mat-error>
          <mat-error *ngIf="SenhaForm.get('passwords.password').hasError('minlength')" class="invalid-feedback">Senha deve conter no minimo 8 caracterer</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label> Confirmar senha </mat-label>
          <input type="password" matInput formControlName="confirmedPassword">
          <mat-icon matSuffix>https</mat-icon>
          <mat-error *ngIf="SenhaForm.get('passwords.confirmedPassword').hasError('required')" class="invalid-feedback">Confirmar senha é obrigatório</mat-error>
          <mat-error *ngIf="SenhaForm.get('passwords.confirmedPassword').hasError('minlength')" class="invalid-feedback">Senha deve conter no minimo 8 caracterer</mat-error>
          <mat-error *ngIf="SenhaForm.get('passwords.confirmedPassword').hasError('mismatch')" class="invalid-feedback"> Senhas não conferem </mat-error>
        </mat-form-field>
      </div>
      <br>
      <ng-container *ngIf="Registrando">
        <app-progressbar></app-progressbar>
      </ng-container>
      <br>
      <div class="form-group col-md-12 centralizar">
        <button mat-button matStepperPrevious class="w-50" color="warn">Anterior</button>
        <button mat-button matStepperNext class="w-50" color="primary" [disabled]="Registrando">Finalizar</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
