.forgot {
  color: var(--blue-material);
}

.forgot:hover {
  color: var(--dark-blue-material);
}

.btn-register {
  color: var(--green-material);
  background-color: transparent;
  font-size: 15px;
}
