<ng-container *ngIf="!TipoCategorias">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="TipoCategorias">
  <app-voltar></app-voltar>
  <br>
  <br>
  <br>
  <app-titulo-mais-add [Titulo]="'Tipo Categorias'" [Rotas]="'/admin/tipocategoria/adicionar'"></app-titulo-mais-add>
  <br>
  <br>
  <br>
  <br>
  <ng-container *ngIf="TipoCategorias.length > 0">
    <app-lista-tipocategoria [TipoCategorias]=TipoCategorias></app-lista-tipocategoria>
  </ng-container>
  <ng-container *ngIf="TipoCategorias.length == 0">
    <mat-list-item>
    <mat-list>
      <div mat-subheader>Vazio</div>
      <mat-list-item>
        <div mat-line class="negrito">Não há tipo de categorias cadastradas</div>
      </mat-list-item>
    </mat-list>
    </mat-list-item>
  </ng-container>
</ng-container>
<br>
<br>
