<ng-container *ngIf="!TipoCategorias">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="TipoCategorias">
  <app-voltar></app-voltar>
  <br>
  <br>
  <br>
  <div class="container-titulo">
    <h1 class="h1-btn titulo-lista">Tipo Categorias</h1>
    <div class="btn-titulo">
      <button mat-icon-button matTooltip="Adicionar" (click)="router.navigate(['/admin/tipocategoria/adicionar'])">
        <mat-icon color=primary>add</mat-icon>
      </button>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <ng-container *ngIf="TipoCategorias.length > 0">
    <mat-list>
      <div mat-subheader color=primary>Todas</div>
      <ng-container *ngFor="let tipocategoria of TipoCategorias; let i = index">
        <mat-list-item class="lista cursor" (click)="Navegar(tipocategoria.nome, tipocategoria.id)">
          <div mat-line>{{tipocategoria.nome}}</div>
        </mat-list-item>
        <ng-container *ngIf="TipoCategorias.length > (i + 1)">
          <mat-divider></mat-divider>
        </ng-container>
      </ng-container>
    </mat-list>
  </ng-container>
  <ng-container *ngIf="TipoCategorias.length == 0">
    <mat-list-item>
    <mat-list>
      <div mat-subheader>Vazio</div>
      <mat-list-item>
        <div mat-line class="negrito">Não há tipo de categorias cadastradas</div>
      </mat-list-item>
    </mat-list>
    </mat-list-item>
  </ng-container>
</ng-container>
<br>
<br>
