<form [formGroup]="identificationForm" (ngSubmit)="return()" autocomplete="off">

  <mat-form-field  appearance="fill" class="w-100">
    <mat-label>Imagem <span class="red-material">*</span></mat-label>
    <ngx-mat-file-input (change)="onFileChange($event)" accept="image/*" formControlName="image"></ngx-mat-file-input>
    <mat-error *ngIf="identificationForm.get('image')?.errors?.required">Imagem é obrigatória</mat-error>
    <mat-icon class="material-icons-outlined" matSuffix>add_photo_alternate</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100 mt-4">
    <mat-label>Categoria <span class="red-material">*</span></mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of categorys" [value]="category.id">
        {{category.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="identificationForm.get('category')?.errors?.required">Categoria é obrigatória</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100 mt-4">
    <mat-label>Tipo do Produto <span class="red-material">*</span></mat-label>
    <mat-select formControlName="productType">
      <mat-option *ngFor="let productType of productTypes" [value]="productType">
        {{productType.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="identificationForm.get('productType')?.errors?.required">Tipo do Produto é obrigatório</mat-error>
  </mat-form-field>

  <div class="form-group col-md-12 text-center mt-4">
    <button mat-button matStepperNext class="w-100" color="primary">Próximo</button>
  </div>

</form>
