<ng-container *ngIf="user$ | async as user">
  <h1 class="title mt-5">Olá,
    <span class="green-material">{{user.fullName}}.</span>
  </h1>
  <mat-list class="mt-5">
    <div mat-subheader>Acessos</div>
    <a [routerLink]="['/admin/roles']">
      <mat-list-item  class="cursor-pointer">
        <mat-icon class="material-icons-outlined" mat-list-icon>rule</mat-icon>
        <div mat-line>Roles</div>
      </mat-list-item>
    </a>
    <mat-divider></mat-divider>
    <a [routerLink]="['/admin/promotion']">
      <mat-list-item  class="cursor-pointer" >
        <mat-icon class="material-icons-outlined" mat-list-icon>local_police</mat-icon>
        <div mat-line>Promover</div>
      </mat-list-item>
    </a>
  </mat-list>
</ng-container>

