<ng-container *ngIf="!Categorias">
  <app-spinner></app-spinner>
</ng-container>
<ng-container *ngIf="Categorias">
  <app-voltar></app-voltar>
  <br>
  <br>
  <br>
  <h1 class="titulo">Criar Produto</h1>
  <br>
  <br>
  <form [formGroup]="ProdutoForm" (ngSubmit)="Registrar()" autocomplete="off">
  <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step>
        <ng-template matStepLabel>Identificação</ng-template>
        <br>
        <mat-form-field  appearance="fill" class="w-100">
          <mat-label>Imagem</mat-label>
          <ngx-mat-file-input (change)="OnFileChange($event)" accept="image/*" formControlName="imagem"></ngx-mat-file-input>
          <mat-error *ngIf="ProdutoForm.get('imagem').hasError('required')" class="invalid-feedback">Imagem é obrigatória</mat-error>
          <mat-icon class="material-icons-outlined" matSuffix>add_photo_alternate</mat-icon>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Categoria</mat-label>
          <mat-select [(value)]="selected" formControlName="categorias">
            <mat-option *ngFor="let categoria of Categorias" [value]="categoria.id">
              {{categoria.nome}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="ProdutoForm.get('categorias').hasError('required')" class="invalid-feedback">Categoria é obrigatória</mat-error>
        </mat-form-field>
        <br>
        <br>
        <div class="form-group col-md-12 centralizar">
          <button mat-button type="button" matStepperNext class="btn-responsive" color="primary">Próximo</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Informações</ng-template>
        <br>
        <mat-form-field  appearance="fill" class="w-100">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome">
          <mat-error *ngIf="ProdutoForm.get('nome').hasError('required')" class="invalid-feedback">Nome é obrigatório</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field  appearance="fill" class="w-100">
          <mat-label>Descrição</mat-label>
          <textarea matInput formControlName="descricao"></textarea>
          <mat-error *ngIf="ProdutoForm.get('descricao').hasError('required')" class="invalid-feedback">Descrição é obrigatória</mat-error>
        </mat-form-field>
        <br>
        <br>
        <div class="form-group col-md-12 centralizar">
          <button mat-button matStepperPrevious class="w-50" color="warn">Anterior</button>
          <button mat-button type="button" matStepperNext class="w-50" color="primary">Próximo</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Valores</ng-template>
        <br>
        <mat-form-field  appearance="fill" class="w-100">
          <mat-label>Preço</mat-label>
          <input matInput formControlName="preco"  mask="separator.2" separatorLimit="1000" thousandSeparator=".">
          <mat-error *ngIf="ProdutoForm.get('descricao').hasError('required')" class="invalid-feedback">Preço é obrigatório</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field  appearance="fill" class="w-100">
          <mat-label>Estoque</mat-label>
          <input type="number" matInput formControlName="estoque">
          <mat-error *ngIf="ProdutoForm.get('estoque').hasError('required')" class="invalid-feedback">Estoque é obrigatório</mat-error>
        </mat-form-field>
        <br>
        <br>
        <ng-container *ngIf="RealizandoCadastro">
          <app-progressbar></app-progressbar>
        </ng-container>
        <br>
        <div class="form-group col-md-12 centralizar">
          <button mat-button matStepperPrevious class="w-50" color="warn">Anterior</button>
          <button mat-button matStepperNext class="w-50" color="primary" [disabled]="RealizandoCadastro">Finalizar</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</ng-container>
